<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="./css/dropdown.css">    
    <link rel="stylesheet" type="text/css" href="./css/modern-input.css">    
    <link rel="stylesheet" type="text/css" href="./css/style.css">    
    <style>
        body{
            margin: 0px;
            padding: 0px;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        h1 {
            text-align: center;
            color: red;
        }
    </style>
    <title>비밀번호 확인</title>
</head>
<body>
    <div class="center">
        <form action="/manage" method="POST">
            <table width="450vw">
                <% if (isFail){ %>
                <tr >
                    <h1>패스워드가 틀렸습니다.</h1>
                </tr>
                <% } %>
                <tr>
                    <td width="80%">
                        <div class="search-container">
                        <div class="form__group field">
                            <input type="password" class="form__field" name="password"  placeholder="비밀번호" id='searchInput' required />
                            <label for="name" class="form__label">비밀번호</label>
                        </div>
                        </div>
                    </td>
                    <td>
                        <input class="dropbtn" type="submit" value="확인">
                    </td>
                </tr>
            </table>        
        </form>
    </div>
</body>
</html>
