<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map</title>
  <style>
    body{
      margin: 0px;
      padding: 0px;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
    }
  </style>
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 815 432.75">
    <defs>
      <style>  
        .cls-1,
        .cls-2 {
          fill: #c21924;
        }
  
        .cls-3 {
          fill: rgba(0, 1, 0, 0.23);
        }
  
        .cls-4,
        .cls-5 {
          fill: #fff;
        }
  
        .cls-6 {
          fill: rgba(1, 1, 1, 0.49);
        }
  
        .cls-7 {
          fill: rgba(10, 13, 14, 0.91);
        }
  
        .cls-8 {
          font-size: 9.65px;
        }
  
        .cls-8,
        .cls-2,
        .cls-9,
        .cls-10 {
          font-family: MalgunGothicBold, "Malgun Gothic";
        }
  
        .cls-8,
        .cls-9 {
          fill: #ecc420;
        }
  
        .cls-11 {
          fill: rgba(1, 2, 3, 0.64);
        }
  
        .cls-12 {
          fill: rgba(68, 69, 75, 0.99);
        }
  
        .cls-13 {
          fill: rgba(2, 1, 2, 0.98);
        }
  
        .cls-14 {
          fill: rgba(24, 24, 27, 0.98);
        }
  
        .cls-15 {
          fill: rgba(1, 1, 1, 0.91);
        }
  
        .cls-2 {
          font-size: 13px;
        }
  
        .cls-9 {
          font-size: 12px;
        }
  
        .cls-16 {
          fill: #4e3618;
        }
  
        .cls-17 {
          fill: rgba(38, 27, 41, 0.99);
        }
  
        .cls-18 {
          fill: rgba(1, 1, 2, 0.32);
        }
  
        .cls-10 {
          fill: #5b4529;
          font-size: 8px;
        }
  
        .cls-5 {
          stroke: #ecc220;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
  
        .cls-19 {
          fill: rgba(12, 11, 7, 1);
        }
  
        .cls-20 {
          fill: #1c2320;
        }
  
        .cls-21 {
          fill: #9fa0a0;
        }
  
        .cls-22 {
          fill: rgba(3, 4, 5, 0.78);
        }
      </style>
    </defs>
    <g id="_레이어_1" data-name="레이어 1">
      <path
        class="cls-13"
        d="m366,153.05l-6.27.64h0l-4.98.25-5,.02-15.77-.19-.67-.26-.32-.64-.17-3.77.09-5.19.06-2.99.02-138.82-.29-.7-.69-.3-22.42-.25-22.09.05-20,.1-125.76-.19L15.99,1.06l-7.33-.24-3.56-.03-3.37.18-.65.31-.27.68-.31,78.14.04,78.15.21,149.77.31.72,58.13,55.78.51.26,27.65,5.24.55.31.26.58,3.27,33.56.45,2.12,1.01,2.15,14.05,22.78.36.35.49.13h705.46l.71-.29.29-.71v-54l-.29-.71-.71-.29h-61.25l-.71-.29-.29-.71v-14.99l-.29-.71-.71-.29h-9.5s-.71.28-.71.28l-.29.71v20.49s.3.71.3.71l.71.29,67.24.03.71.29.29.71v42.92s-.3.71-.3.71l-.7.29-258.93.21-353.71-.13-84.49-.05-.49-.13-.36-.35-11.86-19.32-.93-2.01-.43-2.13-3.2-36.33-.26-.59-.56-.31-30.33-5.5-.51-.27-55-52.83-.31-.73.16-63.22.42.5.1,62.18.31.72,54.85,52.69.52.27,30.52,5.53.56.31.26.58,3.42,38.68.05.25.1.19,12.88,20.74.37.34.48.13,583.31-.06,110.78-.17h.15s.35.13.35.13l.77.29.57-.08.52-.62.17-1.02v-41.08l-.29-.71-.71-.29h-67.25l-.71-.29-.29-.71v-22.14l.33-.74.76-.26h.09s1.96.23,1.96.23l1.92-.09h0l1.98-.43,1.93-.76h.83s2.6,1.12,2.6,1.12l.44.37.16.54v15.16l.29.71.71.29h61.25l.71.29.29.71v55.5l-.29.71-.71.29H107.2l-.49-.13-.36-.34-14.35-23.34-.99-2.14-.45-2.16-3.17-33-.26-.58-.55-.31-27.33-5.2-.5-.26L.31,309.26l-.31-.72V1L.29.29l.71-.29h331.75l.71.29.29.71v151.05l.29.71.71.29h31.25Z"
      />
      <path
        class="cls-21"
        d="m349.75,153.96h298.5l128.75-.06.71.29.29.71v3.63l-.29.7-.69.3-1.29.02-.69.3-.29.7v46.51l-.26.67-.63.32-.39.03-1.81-.08-2.2-.48-1.86-.43-1.47-.12-13.05.06-13.04-.28-.08-1.5.32-2.87.33-.64.67-.25,26.97.04.71-.29.29-.71v-40.04l-.29-.71-.71-.29-99.5.03-.71.29-.29.71v39.98l.29.71.71.29h41l.71.29.29.71v3.5l-.28.7-.71.3h0l-46.76.03-.71-.29-.29-.71v-45.4l-.28-.7-.68-.3-7.54-.3-325.33.04-.71-.29-.29-.71.04-7.12.26-1.39-.26-.86.84-1.58.28-1.58-.21-1.42-.66-1.42-.42-21.5.81-1.56.31-1.59h0l-.21-1.66-.74-1.69v-3.5l-.02-17.94-.29-.71-.71-.29-16.19-.02-2.81-.48-2.81-.19-2.56.09-2.57.33-2.25.25-7.5.25-2.49-.61-2.5-.27h0l-2.62.09-2.64.46-8.52.2-.69.3-.29.69v13.85l-.29.71-.71.29h-14l-.71-.29-.29-.71v-7.51l-.29-.71-.71-.29-117.78.02-.7-.28-.3-.68-.18-4.8-.08-.5.23-4.8.31-.67.69-.28h117.81l.71-.29.29-.71v-20.5l.29-.71.71-.29h3.69l.67.26.32.65.33,5.59-.28,7.54.06,7.49.3.69.7.28h65.72l.71-.29.29-.71V7.48l-.29-.71-.71-.29-65.78.03-.71.29-.29.71h0l.07,20.49-.29.71-.71.29h-3.8l-.71-.29-.29-.71V7.5l-.29-.71-.71-.29H69.75l-.71.29-.29.71v78.46l.29.7.7.3,14.33.17-.6,9.04-.09,9-19.38.09h0l-.71-.29-.29-.71V7.38l-.29-.71-.71-.29-54.54.17h0l-.7.3-.28.71.07,5.19-.43,108.8.16,84.98.27,36.22-.16,63.22.31.73,55,52.83.51.27,30.33,5.5.56.31.26.59,3.2,36.33.43,2.13.93,2.01,11.86,19.32.36.35.49.13,84.49.05,353.71.13,258.93-.21h0l.7-.29.29-.71v-42.92s-.28-.71-.28-.71l-.71-.29-67.24-.03-.71-.29-.29-.71v-20.49s.28-.71.28-.71l.71-.29h9.5s.71.3.71.3l.29.71v14.99l.29.71.71.29h61.25l.71.29.29.71v54l-.29.71-.71.29H107.79l-.49-.13-.36-.35-14.05-22.78-1.01-2.15-.45-2.12-3.27-33.56-.26-.58-.55-.31-27.65-5.24-.51-.26L1.06,308.74l-.31-.72-.21-149.77-.04-78.15L.81,1.96l.27-.68.65-.31,3.37-.18,3.56.03,7.33.24,125.75-.25,125.76.19,20-.1,22.09-.05,22.42.25.69.3.29.7-.02,138.82-.06,2.99-.09,5.19.17,3.77.32.64.67.26,15.77.19Z"
      />
      <path
        class="cls-13"
        d="m83.38,105.17l2.37.62-22.5.1-.71-.29-.3-.71h0V8.25s-.28-.71-.28-.71l-.71-.29H8.05l-.7.29-.3.7-.09,6.76-.42-2.25-.07-5.19.28-.71.7-.3h0l54.54-.17.71.29.29.71v96.88l.29.71.71.29h0l19.38-.09Z"
      />
      <path
        class="cls-13"
        d="m133.71,92.75l-3.71-1.21,2.44-.47.58-.35.23-.63v-2.81l.21-.62.55-.35,2.77-.32,4.1.15,2.39.12.65-.3.33-.21.32.2.62.3h7.07l.56-.22.51-.24.42.22.57.24h5.94l.56-.23.51-.24.42.23.58.24h7.19s1.46.02,1.46.02h9.28s.02,0,.02,0l6.23-.02h1.73s7.98.02,7.98.02h7.92s.02,0,.02,0h8.5l7.64-.02.63-.3.32-.2.32.2.62.3h29.81l.71-.29.29-.71v-20.46l.28-.69.67-.31,5.33-.25.68-.31.28-.69v-31.54l-.29-.71-.71-.29h-5.24l-.71-.29-.29-.71V8.25s-.3-.71-.3-.71l-.71-.29-73.5.02-.45.11-.36.32-.41.29-.47-.31-.36-.3-.45-.11-105.49-.02-.71.29-.29.71v77.07l.29.7.7.3,15.01.14-1.43.67-14.33-.17-.7-.3-.29-.7V7.5l.29-.71.71-.29h183l.71.29.29.71v20.5l.29.71.71.29h3.8l.71-.29.29-.71-.07-20.49h0l.29-.71.71-.29,65.78-.03.71.29.29.71v78.52l-.29.71-.71.29h-65.72l-.7-.28-.3-.69-.06-7.49.28-7.54-.33-5.59-.32-.65-.67-.26h-3.69l-.71.29-.29.71v20.5l-.29.71-.71.29h-117.81l-.69.28-.31.67-.23,4.8Zm127.6-28.61l-.28-.06h-.08s-.62.2-.62.2l-.26.6.18,20.38.3.7.7.29h64.25l.71-.29.29-.71V8.25s-.3-.71-.3-.71l-.71-.29h-64.24l-.71.29-.29.71v20.42s.42.55.42.55l.68.04.77-.05h0l.12.43-.21.79-.25,1.18-.04,16.02.19,16v.06l-.21.36-.41.09Z"
      />
      <path class="cls-7" d="m152.7,10.11l.45-.29.09.37-.16.98-.05.24.04,31.57h0l.04.4.13,1.08-.67-1.23-.08-.24-.02-.24.02-12.78-.05-19.18.26-.68Z" />
      <path class="cls-7" d="m213.03,43.65l-.26.26h-.02l-.26-.26V10.15l.26-.26h.02l.26.26v33.5Z" />
      <path
        class="cls-13"
        d="m76.25,108.79l-1.25.42-7.34.03-.71.29-.29.71.1,28,.29.71.71.29h8.79s.71.31.71.31l.29.71-.08,39.14.29.71.71.29,94.83.12.71.29.29.71-.04,80.02.19,10.84.25,17.28-.3,12.1-.31.67-.69.27-19.39.07-.71-.29-.29-.71.14-5.12.24-9.47-.09-6.57-.41-4.57-.33-1.51-.44-1.06-.14-.51-.23-24.67.79.46.22,21.49.45,2.82.35,2.19-.07,13.1.35,12.96.31.67.69.28,18.12-.07.7-.29.3-.71.03-26.43-.29-.71-.69-.3-19.05-.34h-.01l-.19-.22.05-.15.19-.08,2.25.32,2.24.06h0l2.01-.17,2-.38,4.5-.08.79-.21.62.51.63.18.67-.14.76-.03,1.72.31.44-.02.65-.32.26-.68v-90.08s-.3-.71-.3-.71l-.71-.29-79.84.03-.7.28-.3.69-.21,8.51h0s.29.72.29.72l.71.3,60.52.03-.51.49.51.26-.29,1.21-.67-.5-.27-.84-.52-.16h-32.65s-.7.3-.7.3l-.3.7-.31,36.25-1,.25.09-21.37-.27-.68-.65-.32-6.93-.38-6.14-.03-6.15.25-.73.15-.64.35-.49.5-.29.62-.3,3.16-.07,6.61.33,14.43.31.69.7.27,20.67-.24-.02,1.24-23.23-.02-.71.29-.29.71.05,55.27.3.71.7.29h23.5l.71-.29.29-.71-.15-43.22h.87s-.18,43.71-.18,43.71l-.29.7-.71.3-23.9.04-.66.25-.33.64-.19,1.69-.33.64-.66.25h-20.5l-.71-.29-.29-.71v-62.8l-.31-.71-.73-.27-3.92.14-.73-.27-.31-.71v-44.88s-.28-.71-.28-.71l-.71-.29H11.01s-.71.3-.71.3l-.29.71v15.99s.28.71.28.71l.71.29h16.7l.31-.05.1-.04.59-.27h.04s.26.2.26.2v35.91l-.29.71-.71.29h0l-17.08-.07-.56.17-.22.15-.48.12-.16-.46V12.5l.22-.26h.03s.19.07.19.07l.06.19v166.75l.29.71.71.29h44.25s.71-.3.71-.3l.29-.71v-25.49s-.01,0-.01,0l.17-.37.37-.13h.27s.2.22.2.22v25.85l.32.71.73.27,4.77-.23h.05l.31.05,1.16.18.66-.1.54-.36.21-.61v-68.76l-.26-.67-.65-.32-.99-.1h-.05l-.73.27-.31.73v8.38s0,45.08,0,45.08l-.21,15.03-.05.02-.26-.2v-68.35l-.25-.66-.63-.33-1.74-.21-.63-.33-.25-.66V11.8l-.29-.71-.71-.29-45.94-.05-2.13.63-.08.02-.26-.1-.09-.27.04-.33.17-.31.34-.13,48.46-.03.71.29.29.71v96.53s.28.71.28.71l.71.29,15.75.03Zm.73,32.08l-.32-.77-.77-.32h-8.3l-.77.32-.32.77v.3l.32.77.77.32h8.3l.77-.32.32-.77v-.3Zm0,2.6l-.21-.52-.52-.21-8.84.02-.52.21-.21.52v7.52s.23.52.23.52l.52.21,8.84-.02.52-.21.21-.52v-7.52Zm0,9.66l-.24-.59-.59-.25h-8.62s-.59.23-.59.23l-.25.59v7.28s.23.59.23.59l.59.25h8.62s.59-.23.59-.23l.25-.59v-7.28Zm-.91,18.29l-3.82-.21-4.01.11-.43-.12-.05-.17.26-.28h7.94l.7-.29.3-.71.05-6.96-.29-.71-.7-.3-8.49-.11-.73.3-.28.73v.05l.32,8.95-.31,7.24v.03l.27.73.72.32,8.47.1h0l.72-.29.29-.72-.03-6.7-.26-.67-.64-.32Zm-45.79,10.43l-.31-.45-.32-.3-1.4-.33-3.05-.17-11.5.11-2.65.05-.7.29-.3.7v1.51l.29.71.71.29h11.49s5.75,0,5.75,0l1.15-.2,1.59-.15h.02l2.99.46,3.56.23,10.15-.16,6.74-.17,1.31-.2,1.52-.19.19.02,2.15.33,27.6.03.71.29.3.71h0v44.14s.25,3.41.25,3.41l.28,3.7-.06,55.44h0s-.31.72-.31.72l-.73.28-7.77-.13-7.65.12-.82-.03h-1.25s-.66.31-.66.31l-.19.69.3,1.21.36.46.57.18h19.42l.71-.29.29-.71v-60.56l-.12-.99-.21-.95.4-50.56h0s-.3-.73-.3-.73l-.72-.28-15.89.2-15.68-.17-.79.23-.38.51-.28.32-.31-.28-.14-.24-.37-.37-.49-.13h-23.64l-.61.2-.36.53-.08.3-.33.52-.43-.45Zm56.93,4.09l-.21-.51-.51-.21-21.8.04-.51.21-.21.51.03,19.62.21.51.51.21,21.8-.04.51-.21.21-.51-.03-19.62Zm29.71,7.38l-.31-.76-.76-.31h-23.26l-.76.31-.31.76v11.9l.31.76.76.31h23.26l.76-.31.31-.76v-11.9Zm-88.43,11.04l-.33-.78-.78-.33H11.11l-.78.33-.33.78v33.28l.33.78.78.33h16.28l.78-.33.33-.78v-33.28Zm53.76,2.8l-11.67-.18-6.05.05-.33.13-.17.3-.04.28v.03l.1.31.3.13,22.22.11.62-.29.17-.66-.04-.15-.5-.56-.4.02-.48.28-.45.2-.49-.03-.86-.13-1.23.1-.7.06Zm10.77.28l-.18-.44-.44-.18h-.28l-.44.18-.18.44v26.14l.18.44.44.18h.28l.44-.18.18-.44v-26.14Zm-5.78,2.23l-.12-.3-.3-.12h-22.4l-.3.12-.12.3v20.4l.12.3.3.12h22.4l.3-.12.12-.3v-20.4Zm.9,23.59l-.31-.76-.76-.32-16.44-.03-.76.32-.32.76-.1,57.96.31.76.76.32,16.44.03.76-.32.32-.76.1-57.96Z"
      />
      <path
        class="cls-7"
        d="m135.98,27.69l1.42,1.82.21.71-.34.66-.48.62-.37.89-.47,2.64-.09,3.8.29,4.48.17,1.12-.7-1.07-.3-2.59.11-5.97.06-2.15-.25-.66-.58-.88-.24-.89h0l.19-1.12.71-1.14.23-.62.16-16.78.02-.39.04.37.27,6.07-.04,6.05-.23,4.34.21.69Zm.57,2.57l-.34-1.04-.32-.34h0l-.27.32-.25.95v.04s.11.39.11.39l.37.17.28.02.32-.13.11-.32v-.06Z"
      />
      <path
        class="cls-14"
        d="m143.55,29.94l-.07-18.97.24-.57.21-.21.11-.06.05.16-.09,21.25.02,9.81.12.77.42,1.61v.59h0l-.92-1.27-.24-1.03-.1-2.06.16-7.29.09-2.73Z"
      />
      <path class="cls-7" d="m160.55,29.94l-.06-19.73.21-.21h.3l.09.21-.09,17.17.06,13.95.07.8.22,1.61-.06.58-.7-1.27-.26-1.2-.11-2.02.2-6.6.13-3.29Z" />
      <path class="cls-14" d="m169.62,43.23l-.21-9.77.16-23.22.35-.24.12.41-.02,31.51.09.62.33,1.8-.82-1.11Z" />
      <path class="cls-14" d="m195.47,42.73l-.06-5.37-.16-19.98.12-5.12.26-2.02.28-.2.1.34v31.86l.08.5.31,1.5-.78-.99-.15-.52Z" />
      <path class="cls-14" d="m204.62,44.98l-.74.03-.26-7.41-.2-13.47.12-13.47.12-.41h0l.19-.18h.03s.18.21.18.21l-.06,30.04.31,2.39.31,2.27Z" />
      <path class="cls-7" d="m221.51,43.08l-.25.25h-.02l-.25-.25V10.42l.25-.25h.02l.25.25v32.66Z" />
      <path class="cls-14" d="m6.54,12.75l.42,2.25v228.25l-.42-.5-.27-36.22-.16-84.98.43-108.8Z" />
      <path class="cls-22" d="m304.26,14.63l.18.18.07.14-.23.02-.59-.17-.3-.29v-.44s.33-.56.33-.56l.35-.2.38.11h0s.25.45.25.45l-.4.43-.03.02-.02.31Z" />
      <path class="cls-22" d="m317.92,14.38l.21-.71.26-.26h0l.27.13.32.47.04.11-.08.43-.39.21h-.29s-.25-.09-.25-.09l-.09-.26h0v-.03Z" />
      <path class="cls-7" d="m179.14,27.12l-.27.27h-.08s-.27-.27-.27-.27l-.03-9.22.27-.27h.08s.27.27.27.27l.03,9.22Z" />
      <path
        class="cls-13"
        d="m292.55,19.19l16.67.07,11.11-.03.59.12.35.35-.09.45-.55.24-4.19-.62-38.12-.02h-12.7l-1.68.22-1.57.23-1.23-.11h-.04s-.04-.02-.04-.02l-.12-.38,2.01-.29,5.46-.16,20.86.04h.52s.67-.23.67-.23l.65-.31.88.27.56.18Z"
      />
      <path class="cls-15" d="m321.06,72.1l-.26.26h0l-.26-.26-.09-50.5.26-.26h0l.26.26.09,50.5Z" />
      <path class="cls-7" d="m179.15,44.07l-.26.26h-.06s-.26-.26-.26-.26l-.19-15.44.26-.26h.06s.26.26.26.26l.19,15.44Z" />
      <path class="cls-7" d="m203.88,45.01l.74-.03-.02,2.23-.72-2.2Z" />
      <path class="cls-7" d="m161.53,45.64l.17.29.05.42-.27.31-.06.02h-.44s-.13-.34-.13-.34l.08-.61.24-.4.36.31Z" />
      <path class="cls-22" d="m136.24,46.91l-.43-.84-.03-.38h0l.93.44h0s.15.3.15.3l-.1.31-.19.2h-.32s-.02-.03-.02-.03Z" />
      <path class="cls-22" d="m144.18,46.78l-.32-.23-.05-.05-.16-.39.2-.38.57-.19.26.27.15.59-.1.57-.55-.19Z" />
      <path class="cls-7" d="m170.49,45.64l.47.5-.19.47-.31.17-.34-.06-.34-.36-.04-.3.02-.1.29-.33h.44Z" />
      <path class="cls-22" d="m196.33,45.76l.35.32.08.25-.11.46-.47-.05-.36-.31-.08-.3v-.09s.23-.28.23-.28h.36Z" />
      <path class="cls-15" d="m290.84,45.95l.48-.28h.35l.29.45v.73l-.24.69-.42.32-.34-.14-.38-.51-.1-.68.36-.58Z" />
      <path class="cls-22" d="m188.5,48.96l.25.25-.59.25-.2.79-.42-.25-.61-1.22-.03-.56.53.07,1.07.67Z" />
      <path class="cls-15" d="m222.31,48.65l1.32.1-1.38.54-.77-.1-.47-.62h0s.02-.48.02-.48l.57.31.71.25Z" />
      <path
        class="cls-7"
        d="m135.17,61.03l-.21.71.05.4.14,1.04-.72-.76-.15-.31.02-.66.39-.76.58-.4.52-.13.56-.36.21-.62-.2-10.6v-.05l.35-.2.19.65.13,1.86v7.19l-.02,1.99v3.54l-.03,19.91-.49.74-.1-.45.07-3.42.06-9.5-.16-9.51-.1-.86-.23-.34h0l-.36.19-.5.71Z"
      />
      <path class="cls-7" d="m144.78,48.39l.2.14.5.53-.22.52-.25.66-.02,32.85-.23.43-.18-.1-.09-.32.02-11.51-.07-23.03.08-.25.26.08Z" />
      <path class="cls-7" d="m154.36,48.75l.33.14-.27.34-.31.36-.11.45v4.25l-.15.2h-.01l-.22-.85-.26-2.69-.23-2.18.04-.38h.38s.25.1.25.1l.15.1.41.16Z" />
      <path class="cls-7" d="m162.16,48.69l.5.2-.3.47-.35.76v33.13s-.1.32-.1.32l-.18-.11-.17-.2-.05-.13-.04-33.81v-.03l.22-.45.47-.15Z" />
      <path class="cls-7" d="m171.02,83.32l-.26.26h-.02l-.26-.26v-34.72l.26-.26h.02l.26.26v34.72Z" />
      <path class="cls-7" d="m179.54,48.32h.04s.32.1.32.1l.13.31-.04,34.48-.22.62-.39.3.06-1.33.07-.43v-32.05s-.15-.5-.15-.5l-.32-.74.06-.5.44-.26Z" />
      <path class="cls-7" d="m196.44,82.62l.03-32.41-.15-.64-.2-.8.07-.34.38.05.33.29.12.42-.02,34.02-.21.61-.43.35-.09-.35.13-.95.04-.25Z" />
      <path class="cls-7" d="m205.01,83.14l-.26.26h0l-.26-.26v-34.54l.26-.26h0l.26.26v34.54Z" />
      <path
        class="cls-7"
        d="m214.24,49.32l-.17.21-.06.17v33.55s-.23.26-.23.26h-.03s-.19-.07-.19-.07l-.04-.13v-32.89s-.14-.83-.14-.83l-.2-.89.09-.39.35.11.61.56v.34Z"
      />
      <path class="cls-15" d="m190.32,52.11l-.23.13-.23-.31-.1-.65.16-1.3.24.49.25,1.31-.09.33Z" />
      <path class="cls-7" d="m187.54,50l.42.25.02,32.96-.2.22h-.03s-.1-.05-.1-.05l-.1-.18v-33.2Z" />
      <path class="cls-7" d="m153.97,83.91l-.24.24h0l-.24-.24.04-20.1.24-.24h0l.24.24-.04,20.1Z" />
      <path class="cls-13" d="m88.39,86.48l-1.14-.02.04-21.18.27-.68.66-.32.67.14-.34.56-.32.75.16,20.75Z" />
      <path class="cls-13" d="m264.22,73.76l3.13-.24,8.49-.09,34.02.23,8.89.07,1.3-.36.6-.04.46.4.09.65-.36.12-.76-.14-.5-.09-19.18-.03-35.96.1-.5-.15.28-.43Z" />
      <path class="cls-15" d="m262.76,73.75l.17.26-.28.3-.63.2-.8.07-.44-.17.18-.3.77-.46.53-.1.5.2Z" />
      <path class="cls-6" d="m129.54,91.5l.46.04,3.71,1.21.08.5-.51.33-.3.42.02.96-3.71-.21.25-3.25Z" />
      <path
        class="cls-13"
        d="m279.25,92.46l-.54.54-7.25.27-.68.31-.28.7.08,13.97-.29.71-.71.3h-15.58s-.71-.3-.71-.3l-.29-.71v-7.5l-.29-.71-.71-.29h-117.32l-.71.29-.29.71v.57l.29.71.71.29,86.39-.06h0l.71.3.28.72-.33,8.8-.31-8.31-.3-.69-.7-.29h-6.83l-.71.29-.29.7h0l-.05,8.47h0l.3.71.71.29h6.87l.73-.32.5-.28.77.41.73.33,48.89.16.71-.29.29-.71v-15.31l.29-.7.69-.3,1.46.17-1.18.53-.53.38-.18.62.28,6.77-.03.31-.02.05-.26,1.47.05,1.97.05,1.18-.09,10.76.25,10.76-.27.73-.71.31h-43.46s-.71-.29-.71-.29l-.29-.71v-.02l.18-8.5-.1-6.51.09-.67.28-.32.12.41.14,2.64.34.7.75.24h.03l.57-.15.36-.29h0l.18-.63-.18-.88-.05-.21v-.2l.15-2.07,1.25.67-.51.57-.28.63h0l.04,1.17.24.41.39.25,1.56.27,1.31-.22,1.25-.08,1.8.25,1.8-.25.4-.22.26-.38.22-.92-.17-.66h0l-.74-.48-1.32-.09-.37-.27.96-.13,2.12.19.07,2.73.3.69.7.28,29.46.11h.01l.71-.3.28-.72-.05-2.79-.3-.69-.7-.29-30.19.02-2.89-.32-2.89-.09-5.01.37-1.15.24-1.06-.11-1.25-.66-.64-.23-83.86.03-.71-.29-.29-.71v-9.01l-.29-.71-.71-.29h-6.93s-.69-.29-.69-.29l-.31-.67-.24-1.19-.56-.75h0l-.53-.25-.68-.06-1.77.45v-1l1.05.25h1.68s.53-.24.53-.24l.31-.5.35-2.11-.21-1.44-.02-.96.3-.42.51-.33.18,4.8.3.68.7.28,117.78-.02.71.29.29.71v7.51l.29.71.71.29h14l.71-.29.29-.71v-13.85l.29-.69.69-.3,8.52-.2Zm-134.47,11.19l-.25-.57-.58-.23h-.54s-.57.25-.57.25l-.23.58.12,8.86.25.57.58.23h.54s.57-.25.57-.25l.23-.58-.12-8.86Zm10.19-.05l-.26-.61-.61-.25-7.58.05-.61.26-.25.61.06,8.76.26.61.61.25,7.58-.05.61-.26.25-.61-.06-8.76Zm9.01.19l-.32-.75-.75-.31-6.36.04-.75.32-.31.75.06,8.38.32.75.75.31,6.36-.04.75-.32.31-.75-.06-8.38Zm10.04.03l-.3-.74-.73-.31-7.38-.04-.74.3-.31.73-.04,8.42.3.74.73.31,7.38.04.74-.3.31-.73.04-8.42Zm9.5-.47l-1.89-.45-1.97-.21h-2.07s-2.16.25-2.16.25l-.6.33-.24.65-.05,8.32.29.71.71.3h6.82l.74-.32.58-.32.66.35.73.31,6.94-.06.7-.3.29-.7v-8.3l-.23-.64-.59-.34-2.59-.29-2.54.09-2.94.62h-.59Zm19-.01l-2.37-.54h0l-2.89-.18-2.96.32-.59.35-.22.65.1,8.19.25.65.61.33,2.5.17,3.38-.1,3.77-.06.73.04,6.18.1.7-.3.29-.7v-8.3l-.22-.63-.57-.35-2.75-.35-2.7.12h0l-2.65.59h-.59Zm70.48,17.75l-.36-.89-.88-.37-41.48-.22-.89.36-.37.88-.05,9.54.36.89.88.37,41.48.22.89-.36.37-.88.05-9.54Z"
      />
      <path class="cls-12" d="m299.25,92.29l.04,1.21-.48-.51h0l-.47-.09-.59.14-.75-.5,2.25-.25Z" />
      <path class="cls-13" d="m297,92.54l.75.5h-8l-.25-.25,7.5-.25Z" />
      <path class="cls-13" d="m310,92.54l16.19.02.71.29.29.71.02,17.94-.55.77-.26-17.94-.29-.7-.7-.29-14.95-.09-.46-.71Z" />
      <path
        class="cls-15"
        d="m296.5,96.54l-1.08.46-.76.69-.48,1.21.03,1.6-.05.02-.35-.1-.17-.23.04-.29.39-1.12-.08-.95-.19-.37-.28-.56.02-.4.33-.22.63-.06,2,.32Z"
      />
      <path
        class="cls-13"
        d="m316,110.21h-1l-.19-5.34v-.09l.23-4.03.21-.04.33,2.66.33.63.66.25h6.3l.7-.28.3-.68.2-5.66v-.07l-.35-.72-.77-.24-1.84.07-4.1.27-1.2.37-.56.48-.21-.04-.69-.73-1.39-.52,10.52-.14h0l.72.29.29.72-.02,11.87-.12.33-.07.04-.24-.8-.16-2.4-.04-.8-.34-.58-.63-.24-6.26-.06-.63.21-.35.56-.23,1.65.13,1.58h0l.47,1.48Z"
      />
      <path class="cls-7" d="m315.04,97.75l.21.04.24,1.56-.24,1.36-.21.04v-3Z" />
      <path class="cls-13" d="m294.21,101.5l.34,1.69.22.44.4.29,1.36.75h0l-.92.1-2.61-.31.8-.8h0l.38-.97.03-1.19Z" />
      <path class="cls-13" d="m183.75,104.31h.09l.1.09-.2,7.8-.18-7.7.19-.19Z" />
      <path class="cls-15" d="m202.75,104.31h.09l.1.09-.2,7.54-.18-7.45.19-.18Z" />
      <path
        class="cls-11"
        d="m89.76,105.76l-.95,4.05-.55,4.08h0l-.14,3.27.11,3.3.29.63.27.53-.4.21-.77-.21-.38-.71v-10.48l-.29-.7-.69-.3-11.26-.22,1.25-.42,7.25-.05h1.21l1.45-.29.52-.36.34-.48.09-.82-.36-1,3.01-.03Z"
      />
      <path class="cls-12" d="m327.21,111.5v3.5l-.96-1.46.71-.36v-.39l-.3-.52.55-.77Z" />
      <path
        class="cls-3"
        d="m241.75,114.54l-.29.96-2.18-.19-.9.13.37.27-.71.04-.61-.38-.65-.2-.36.07h0l-.06.36.24.64.02.03h0l.21.81-.04.92-.29.46-1.25.08-.54-.54.17-2.06-.09-.39-.29-.26-.55-.05-.49.51-.96-.29-1.25-.67-.29-.29,5.01-.37,2.89.09,2.89.32Z"
      />
      <path class="cls-13" d="m234.71,118l-.33.14-.31-.06-.17-.26-.44-2.07.49-.51.55.05.29.26.09.39-.17,2.06Z" />
      <path class="cls-13" d="m238.04,115.75l-.05,1-.37.73h0l-.83.52.04-.92-.21-.81-.02-.03-.24-.64.06-.36h0l.36-.07.65.2.61.38Z" />
      <path
        class="cls-13"
        d="m264.37,127.75l.36.56.64.21,3.53-.08.23-.03.4-.21.26-.36.09-.44-.12-.43-2.27-4.21-.6-.48-.8-.3-.26-.31h0l.28-.32.87-.32.73.08.48.55,1.27,3.62.45.54.57.43.38.52.19.69-.04.81-.33.57-.62.24-5.78.18-.72-.28-.31-.71h0v-6.04l.26-.68.65-.32.88-.02.34.14-.18.28-.66.43-.49.69-.11,2.26.43,2.74Z"
      />
      <path
        class="cls-13"
        d="m269.89,121.95l-.42-.2-.43-.34.52-.16.85.06.56.33h0l.28.71-.11,1.06.04.6v.42s-.27.09-.27.09l-.27-.12-.12-.27-.06-1.32-.16-.51-.41-.35Z"
      />
      <path class="cls-19" d="m327.04,121.5l.42,21.5-.98-1.95.03-15.87.22-.61.28-.49.02-.43h0l-.25-.38-.53-.31.79-1.46Z" />
      <path class="cls-15" d="m266.33,124.37l-1.22,1.94-.56.58.12-.73.6-1.38.64-1.08.4-.29.14.57v.04l-.12.35Z" />
      <path
        class="cls-15"
        d="m324.46,125.75l-.25,12-.46-.21.27-1.76-.02-1.61-.26-1.63-.35-.55-.62-.22-6.1-.03-.62.22-.35.56-.26,1.63v1.6l.31,1.79-.75.17-.05-9.71.16-.71.31.37.1.6v1.6s.12.64.12.64l.36.54.61.21h6.17l.59-.19.36-.5.34-1.9h0l-.06-1.18-.26-1.19.71-.54Z"
      />
      <path
        class="cls-13"
        d="m768.79,234.75l.21-.04,1.26.51.71-.09h0l.18-.5-.15-.88.51-.38.53-.15.49.06.96.22,22.7-.03.51-.13.7-.19.37.09.12.55-.26.51-.53.2h-20.77l-.62.08-.32.24h0v.39s.28.55.28.55l.22.31.36.32.46.11h30.16l.7-.29.3-.69.2-35.07-.17-36.35.03-.22.14-1.23-.13-1.17h0l-.2-.67-.42-.5-.63-.14-1.48.17-.69-.18-.4-.59-.14-1.36.26-1.2.74-1.16.26-.58-.15-.62-.16-.28-.23-.52.03-.37h0l.3-.24.56-.09,8.39-.21h.01l.71.29.3.71v88.57l-.29.71-.71.29-61.25-.03-.71.29-.29.71.04,27.72.21.54.51.26.45.2.03.42-.31.65-.16.54v24.53s.16.55.16.55l.33.6v.32s-.34.01-.34.01l-.07-.02-.51.14-.23.47-.13,5.29.12,3.04-.03,1.6-.54,1.13-.78.57-3.64-.1-.45.18-.2.44.21.71.58.21,1.13.22-.56.32-.52.39-.17.63-.22,1h0l-.44.43-.68.28.71-1.12.23-1-.22-1.14-.79-1.42-1-1.98.38-9.76.29-.67.67-.29,4.71-.15.69-.3.28-.7v-24.83l-.29-.71-.71-.29-16.13-.15h-.02l-.71.31-.28.72.15,5.44-.46.04-.32-5.56-.31-.67-.69-.27h-23.88l-.7.29-.3.7-.4,38.27-.23,1.32-.59.83h0l-.9.33-1.24-.11-1.42-.5,1.49-.14h1.42s.71-.27.71-.27l.31-.7.04-1.09.07-2.45-.14-1.76-.38-1.3-.58-.71v-.17l.74-.66.3-.7-.09-.57-.35-.61-.67-.37-5.43-.59,3.2-.35.59.12.91.28,1.32-.31.39-.37.15-.52-.38-60.39-.16-.76.02-.84.24-.73v-.67s-.45-.84-.45-.84l-.05-.48.33-.56.14-.51v-23.63h0l-.3-.71-.71-.29-5.07.07-.69.29-.29.7-.11,23.52.32.74.77.26h.08s2.47-.11,2.47-.11l.72.09,1.18.31-1.22.11-40.25.1-.68.27-.31.66-.02.3.25.74.7.33h.04l40.97.15.78.19-.57.57-.96.28-.67-.15-.93-.39-38.64-.03-.7.29-.3.69-.15,7.02.28.72.71.3h38.8l.25.07-.06.12-.19.19-.29.12h-39.32s-.75-.32-.75-.32l-.25-.78h0l.02-.1.35-4.05-.06-32.09-.11-.46-.31-.35-.76-.4-.55.02-.39.51-.13,1.02.17,40.57v.2s-.06.07-.06.07l-.04.06-.06.1-.67-1,.19-15.26-.34-15.32-.31-.68-.7-.28-6.39.05-.7.3-.29.7v11.03l-.22.42-.25.07-.41-.56-.24-1.59.09-5.52-.23-.62-.2-.41.23-.51.22-.54v-1.02s-.28-.71-.28-.71l-.71-.3h-13.24l-.71.32-.27.73.04.96.32.69.72.26.71-.03,8.9-.2,2.33.12.8.28v.03l-.18.26-.31.1-12.46-.07-.74.33-.26.76h0v.09s.24,2.25.24,2.25l-.08,2.21h0l-.46,2.39-.29.46-.32-.64.03-4.06-.08-6.96-.22-.62-.56-.34-1.97-.13-1.77.46-.69.02-1.22-.4-.55-.02-.48.28-.38.54-.08.52.28.64.6.43.75.14.71-.23.3-.3.44-.33.29.46.08.31v.05s-.09.32-.09.32l-.31.14-53.18.02-.68-.27-.31-.66-.23-1.09-.53-.7h0l-1.01-.33-1.42.22-.51.36-.2.6v10.66l-.32.73-.36.16-.22-.74-.05-10.19-.28-.71-.71-.3h-.01l-14.09.02-.71.29-.29.71.02,10.75-.08.24-.24-.06-.21-.14-.33-.36-.12-.48v-10.46l-.16-.55-.44-.37-1.01-.31-1.83.05-1.05.21-11.19-.32-.57.16-.38.46-.37.41h0l-.31-.12-.36-.43-.37-.33-.48-.12-26.16.1-.51.14-.37.39-.39.35-.31-.11-.35-.41-.36-.33-.48-.12-6.28.05-.65.25-.37.33-.22.08-.22-.08-.6-.43-.64-.21-.81.03-.87.34-.45.13-.45-.09-1.64-.42-1.62.18-.53.36-.2.6v10.92l-.18.44-.47.21-.26-.23-.09-.44-.05-10.27h0l-.29-.7-.71-.29h-13.69l-.71.32-.27.73.04.89.31.68.7.27,13.12-.2.31.11.2.27-.53.15-13.16.18-.67.26-.33.64-.04,1.25.35,2.33.03.26v.16s-.5,3.03-.5,3.03l-.39.42h-.03l-.26-.65-.17-1.97-.03-7.84v-.9s-.16-.56-.16-.56l-.46-.37-.71-.22h0l-1.32-.08-1.4.31-.75-.04-.85-.25-.7.1h0l-.56.49-.28.18-.32-.09-.03-.03-.3-.3-.71-.29-7.44.07-.54.16-.36.42-.3.31h0l-.3-.1-.34-.4-.35-.32-.47-.12h-24.42s-1.15.17-1.15.17l-1.48.2-1.16-.18-.3-.12-.32-.09h-.13l-6.41.14-.63.24-.5.42h0s-.46-.05-.46-.05l-.58-.58-.59-.21h0l-.54.15-.55.46-.24.79.43.71h0l.11.06.61.31.7.07.57-.4.47-.34.44.3.37.31.47.11,10.8-.24,10.8-.02,13.69.29.8-.36.54-.33.67.34.72.31,7.43.02.46-.1.36-.31.46-.32.45.33.53.4.67-.03,1.13-.46.08-.02.27.09.1.28-.04.29-.13.26-.28.1-52.98-.04-.68-.27-.32-.66-.25-1.11-.54-.73h0l-.59-.3-.76-.09-2.01.45-.47.37-.18.57v10.96s-.19.55-.19.55l-.51-.25-.29-.27-.69-1.01-.14-1.02.26-1.16.53-2.41-.03-1.39-.27-1.41.1-.77.29-.88-.05-.61-.36-.55-.61-.22h-13.04l-.71.32-.27.73.04.88.31.68.7.27,12.72-.18.37.11-.19.34-.22.22-.23.09-12.58.03-.72.31-.28.74v.06s.57,5.04.57,5.04v.33s-.04.11-.04.11l-.69,1.37-.63.48-.19-.29-.05-.81.05-9.43-.03-1.14-.23-.6-.56-.34-1.99-.12-1.84.49h-.78s-.97-.39-.97-.39l-.58-.05-.51.28-.37.54-.09.52.28.63.6.43.74.15.72-.23.31-.31.47-.4.12.61v.28s-.17.35-.17.35l-.35.14h-53.17l-.63-.43-.1-.1-.11-.26.06-.59.51.32.58.47.6.16h0l.58-.13.58-.43.33-.14.34.1.22.19.71.29,7.46-.06.51-.14.36-.37.32-.29.44.34.36.33.48.12,25.74-.07.4-.11.29-.29.31-.26.61.4.35.29.45.11,7.44-.05.78-.39.29-.75h0l-.12-.49-.36-.48-.72-.29-7.41.05-.49.13-.36.35-.47.39-.56-.45-.36-.34-.48-.12-25.24.04-.54.16-.37.42-.35.36-.31-.11-.36-.43-.36-.33-.48-.12-7.21.05-.66.25-.37.33-.29.1-.29-.14-.6-.51-.59-.16h0l-.87.4-.58.25-.61-.14-1.03-.42h0l-.9-.08-.95.15-.52.35-.21.59v3.5l-.07,5.91-.22,1.48-.32.46h-.07l-.32-.36-.15-1.7-.33-.67-.7-.25-12.43.09h-.5s-.71-.31-.71-.31l-.18-.52.25-.22.57-.07,8.04.18,4.6-.06.76.32.21.22.15.08.08-.28.24-7.03-.28-.72-.71-.31h-13.72l-.7.29-.3.7v.77h-.01l.29.72.72.29,13.63-.03.19.09.11.25-.69.21-13.2.23-.7.3-.29.7-.03,6.77v.04l-.17.29-.32.07-.32-.54-.18-1.31-.08-5.62-.02-3.94-.3-.68-.68-.29-7.27-.15-.7-.31-.28-.71.36-14.62-.16-.57-.34-.98.31-1.15.14-.5.02-18.74v-.02l-.26-22.3.29-.71.71-.3h12.91l.68-.27.31-.67.36-3.76.26,3.6.26.64.61.32,2.85.22,2.49-.12.82.16.13.27-.28.09-20.57.02-.7.29-.3.7-.08,57.17.17,1.23.44.59.63.12.93-.29.2-.07.29-.02,7.94.41,7.94.14h0l6.85-.1,6.85-.31h.02l.69-.37.22-.75-.09-.85-.33-.64-.67-.25h-27.79l-.56.17-.36.45-.14.32-.38.6-.12-.69v-53.04l.12-.55.37.42.15,3.29.1,3.21.35.59.64.23h90.75s.71-.29.71-.29l.29-.71-.03-6.99-.3-.7-.7-.29-89.34-.02-2.17.29-1.1-.02-.51-.13-.89-.48.99-.16,20.09-.02.66-.25.33-.61v-.34s-.42-1.08-.42-1.08l-.19-.5.09-.52.43-1.17.2-1.19h0l-.1-1.62-.52-1.66.71-.29.52,8.14.31.67.69.27,251.96.07,22.66-.04,33.05-.03,24.29.21.69.3.29.7.12,45.5.29.71.71.29h44.97s.07-.01.07-.01l.71-.37.21-.77-.08-.53-.33-.61-.66-.25h-42.59l-.71-.29-.29-.71-.1-45.5-.29-.7-.7-.29-11.25-.05,1.92-.09,1.43-.29,1.4-.5,7.54.3.68.3.28.7v45.4l.29.71.71.29,46.76-.03h0l.71-.3.28-.7v-3.5l-.29-.71-.71-.29h-41l-.71-.29-.29-.71v-39.98l.29-.71.71-.29,99.5-.03.71.29.29.71v40.04l-.29.71-.71.29-26.97-.04-.67.25-.33.64-.32,2.87-.88.06-.39.46-.11.63.16.7.41.36.41-.13.48-.58,13.04.28,13.05-.06,1.47.12,1.86.43,2.2.48,1.81.08.39-.03.63-.32.26-.67v-46.51l.29-.7.69-.3,1.29-.02.69-.3.29-.7v-3.63l-.29-.71-.71-.29-128.75.06-5-.92h135.5v1.12s.27,1.01.27,1.01l.46.61.32-.69.03-.9h0l-.21-.73-.41-.71.04-21.27.22-.47.49-.16h.06s.56.35.56.35h0l.03.36-.21.48-.15.52v23.55l-.16.53-.42.37-.61.5-.23.57-.1,1.22.27.58.68-.06.7-.2-.47.55-.29.22-.39.14-.41-.08-1.56-.52-1.06.2h0l-.56.82-.14,1.44.2,10.26-.09,13.98-.09,10.86-.18,10.7-.27.63-.6.31-4.59.6-.55-.09-.42-.37-.67-1.07-.37-.35-.49-.12-28.17.07-.74-.32-.27-.75h0v-.07s-.01-.98-.01-.98l-.26-.78-.05-.77.16-.88.18-24.69-.08-.45-.13-.79.14-.43.41-.08.49.27.2.52v22.16l.29.71.71.29,27.25.02.71-.29.29-.71v-38.53l-.29-.71-.71-.29h-97.98l-.71.29-.29.71-.03,38.52.29.71.71.29h0l41.49-.02.73.32.26.76v.09s-.06.99-.06.99l.23.87.29.49.2.6-.2.6-.35.92.07.4-.08.67-.56.37h-.14s-3.65-.12-3.65-.12l-.51.12-.38.36-.28,1.06.53.95.13.29-.12.3h0l-.22.21-.12.29v32.71l.29.71.71.29,36,.03.71-.29.29-.71v-6.53l.29-.71.71-.29h21.67l.71-.3.27-.32.39-1.13Zm37.17-76.5l-.55-.04-.35.16-.2.39v.46s.2.39.2.39l.31.17.29-.11.3-.42.12.27.51.2.89-.12.81.13.44.7v.13s.02,75.69.02,75.69l-.29.71-.71.29h-32.49l-.36-.15-.15-.36v-.28h0l-.3-.72-.72-.29-4.08.07-.28.12-.12.29v.34l-.29.71-.71.29h0l-21.78-.07-.71.29-.3.71.13,33.29.29.7.7.29,3.41.03.71-.29.3-.71v-27.76l.29-.71.71-.29h61.24l.71-.29.29-.71v-86.75s-.28-.71-.28-.71l-.71-.29h-6.26l-.7.29-.3.7-.03,3.26Zm-405.76,58.12l-.17-2.88.04-1.44.23-5.11-.32-32.92.03-9.64-.21-.61-.65-.62-.56-.13-.39.19-.3.4-.32,1.37-.08,51.27-.29.71-.71.29h-12.86l-.71.29-.29.71v1.1l.29.71.71.3,30.31.02.74-.32.26-.76h0v-.08s-.19-1.13-.19-1.13l-.34-.6-.65-.24h-12.58l-.66-.25-.33-.63Zm257.79-52.14l-.31-.75-.75-.31h-.32s-.75.31-.75.31l-.31.75.1,54.96.31.75.75.31h.32s.75-.31.75-.31l.31-.75-.1-54.96Zm-114.53,53.76l.03-.21.13-.41.36-.44.56-.17,12.96-.02.71-.3.29-.7v-41.99l-.29-.71-.71-.29h-74.99s-.71.3-.71.3l-.29.7h0v39.2s.22,2.27.22,2.27l.19,1.68-.09.43-.28-.14-.24-.24-.31-.72v-25.96s0-25.96,0-25.96l-.27-.81-.62-.3-1,.05-.49.25-.48.33-.44.07h0l-.61-.34-.73-.32-74.73.04h0l-.71.3-.29.71.1,6.97.3.7.7.29h74.46l.68-.26.32-.66.43-4.72.27-1.57.14,1.68-.02,4.99-.02,20.81-.08,23.75-.3.69-.7.29h-12.21l-.68.26-.32.66-.06.89v.02l.25.73.7.33,15.26.33,15.02-.32h.02l.7-.35.24-.74-.09-.9-.32-.65-.68-.26h-11.99l-.19-.06-.06-.19v-.03s.31-.22.31-.22l12.26.04.99.32.4.77v1.24s-.02.08-.02.08l.27.75.74.31h47.55l6.82.07,13.48.08,9.69-.29h.06s.69-.4.69-.4l.18-.78-.16-.87-.35-.59-.64-.23h-12.27l-.71-.29-.29-.71v-41.75l.06-.19.19-.06h.03s.22.25.22.25v41.25l.29.71.71.29h12.51l.71.31.27.73-.06,1.37.27.72.71.32h.01l23.96.1,15.94-.14h3.04s2.31.21,2.31.21l.74-.18.4-.65.3-1.94.34-.61.65-.24h2.33s19.6-.01,19.6-.01l6.46.24-.27.27h-27.55l-.7.29-.3.69-.02.92.28.71.68.31,11.34.19,16.3-.19.97-.16.59-.43h0l.23-.68-.12-.93-.06-.16-.18-.25-.31-.71.29-.48.34-.76v-41.86l-.29-.71-.71-.29h-90.88l-.46.19-.29.21-.15.05-.54-.12-.24-.51.29-7.13.34,5.84.3.69.7.28h90.94l.71-.29.29-.71-.02-7-.3-.7-.7-.29h-85.57s-2.16.13-2.16.13l-3.52.16-2.55-.24h-.1s-.77.24-.77.24l-.33.75.03,51.94-.29.71-.71.29h-12.89s-.54.17-.54.17l-.37.44-.13.3-.57.91-.06-1.07Zm15.03-53.79l-.28-.67-.67-.28h-75l-.67.28-.28.67v7.1l.28.67.67.28h75l.67-.28.28-.67v-7.1Zm-225.05,52.54l.68.27.32.65.13,1.67.32.65.68.27h45.53l.72-.31.27-.73v-1.67s.43-.73.43-.73h0l.23-.05h13.25s.71-.31.71-.31l.29-.7v-42l-.29-.71-.71-.29h-91l-.71.29-.29.71v42l.29.71.71.29h28.44Zm81.23.01l.5.19.23.47.2,2.18v.04l.25.44.48.18h45.94l.36-.09.37-.64v-2.04l.21-.52.52-.21h13.04l.52-.21.21-.52v-42.54l-.21-.52-.52-.21h-75.29l-.52.21-.21.52v42.54l.21.52.52.21h13.19Zm275.31-5.1l-.27-.65-.65-.27-26.52.05-.65.27-.27.65.04,23.66.27.65.65.27,26.52-.05.65-.27.27-.65-.04-23.66Zm8.03,0l-.25-.61-.61-.25h-5.58s-.61.24-.61.24l-.25.61-.04,23.74.25.61.61.25h5.58s.61-.24.61-.24l.25-.61.04-23.74Zm-108.69,9.26l-.76-.07-1.15-.07-.71.28-.38.75.18.79.71.4h.09l35.73.07.69-.27.48-.61.08-.48-.22-.34-.44-.26-1.66-.35-2.6-.08-3.27.19-3.03.07-9.7-.32-13.34.28-.7.02Zm-13.45.31l-.66-.46h0l-.57-.03-.65.22-.5.61-.09.63.14.5h0l.48.4.81.2.52-.08.4-.34.5-.36.46.3.35.29.45.1,7.32-.12.67-.27.31-.65.03-.35v-.04l-.28-.73-.73-.3-7.33.05-.68.28-.2.19h-.01s-.38.14-.38.14l-.36-.18Zm168.31,42.35l.62-3.11.05-2.6-.35-2.64-.36-.54.28-.51.33-.74v-6.44l-.29-.71-.71-.29h-36.02s-.71.29-.71.29l-.29.71.06,6.56.3.7.71.29,35.03-.11.71.19-.47.55-2.37.32-5.82.11-22.36-.33-4.76-.1-.71.29-.3.71h0l.04,6.32.29.71.71.29,6.6-.06,21.44-.18,7.15.14.46.68-.79.22-34.9-.08-.71.3-.29.71.04,6.32h0l.29.7.71.29,35.83-.1.67-.26.33-.65.16-5.32-.15-1.54-.27-.62-.18-.47Zm6.88,38.55l-.24-.6-.59-.25-3.76-.05-.6.24-.25.59-.11,9.06.24.6.59.25,3.76.05.6-.24.25-.59.11-9.06Z"
      />
      <path class="cls-14" d="m327.21,149l.26.86-.26,1.39-.21-.04-.96-.46,1.17-1.75Z" />
      <path class="cls-17" d="m327,151.21l.21.04-.04,7.12.29.71.71.29,325.33-.04-1.4.5-1.43.29-1.92.09-321.16.03-.66-.25-.33-.62-.17-4.02.57-4.14Z" />
      <path class="cls-6" d="m779.21,152.75l.41.71.21.73-.03.9-.32.69-.46-.61-.26-1.01v-1.12s.45-.29.45-.29Z" />
      <path class="cls-20" d="m366,153.05h277.25s5,.91,5,.91h-298.5l5-.02,4.98-.25h0l6.27-.64Z" />
      <path
        class="cls-21"
        d="m805.96,159.25v-1l.03-3.26.3-.7.7-.29h6.26l.71.29.29.71v86.75s-.3.71-.3.71l-.71.29h-61.24l-.71.29-.29.71v27.76l-.3.71-.71.29-3.41-.03-.7-.29-.29-.7-.13-33.29.3-.71.71-.29,21.78.07h0l.71-.29.29-.71v-.34l.12-.29.28-.12,4.08-.07.72.29.3.72h0v.28l.15.36.36.15h32.49l.71-.29.29-.71v-75.69s-.02-.13-.02-.13l-.44-.7-.81-.13-.89.12-.51-.2-.12-.27Z"
      />
      <path class="cls-6" d="m805.96,158.25v1l-.3.42-.29.11-.31-.17-.19-.39v-.46s.19-.39.19-.39l.35-.16.55.04Z" />
      <path class="cls-13" d="m783,165.21v-.42l5.79-.18.96-.08.48.06.19.23-.14.29-.51.18-2.4.12-4.37-.2Z" />
      <path
        class="cls-13"
        d="m791.61,164.99l.33-.3.31-.05,12.93.16.34.19.06.25-.39.22-.96.03-6.03-.17-6.04.06-.38.28-.09.28h0l-.42.08-.51-.43.52-.4.29-.17.04-.03Z"
      />
      <path class="cls-15" d="m783,164.79v.42l-5.2-.19,5.2-.23Z" />
      <path
        class="cls-13"
        d="m219.5,173.71l-.46.04.18-4.54.31-.68.69-.28h6.46l.7.28.3.69-.06,2.52-.32.88h0l-.22-.12-.07-.17v-2.5s-.3-.7-.3-.7l-.69-.3-5.21-.11-.6.18-.37.5-.36,1.44-.12,1.45.14,1.42Z"
      />
      <path class="cls-13" d="m243.43,170.99l-.26.26h-12.52l-.26-.26v-.02l.26-.26h12.52l.26.26v.02Z" />
      <path class="cls-13" d="m278.43,170.99l-.25.25h-12.6l-.25-.25v-.02l.25-.25h12.6l.25.25v.02Z" />
      <path class="cls-13" d="m295.59,171.03l-.25.25-10.78-.08-.25-.25v-.02s.25-.25.25-.25l10.78.08.25.25v.02Z" />
      <path class="cls-15" d="m243.02,182.37l-.26.26h-.02l-.26-.26v-9.94l.26-.26h.02l.26.26v9.94Z" />
      <path class="cls-15" d="m297.02,182.37l-.26.26h-.02l-.26-.26v-10.02l.26-.26h.02l.26.26v10.02Z" />
      <path class="cls-15" d="m277.5,181.26v-8.66l.09-.29.27.14.18,4.54.09,4.96-.13.38-.36.17h-.01l-.47-.16.15-.49.19-.59Z" />
      <path class="cls-20" d="m805.69,173.51l-.25.25h-27.38l-.25-.25v-.02l.25-.25h27.38l.25.25v.02Z" />
      <path
        class="cls-4"
        d="m227.51,175.7l3.35,5.4.18.62-.16.63-3.19,5.54-.07.11-.43.37-.56.13h-6.13l-.61-.16-.44-.45-3.18-5.49-.16-.62.17-.62,3.35-5.56.45-.43.61-.16,5.8.11.59.16.43.42Zm-5.94,9.35l.92-.23.79-.72.55-1.1.22-1.31-.14-1.32-.48-1.13-.75-.77-.9-.29-.92.23-.79.72-.55,1.1-.22,1.31.14,1.32.48,1.13.75.77.9.29Zm3.67-5.74l.32,2.05.38,2.63.39.85h.05s.44-.38.44-.38l.17-.55.02-.42-.04-3.8-.31-1.06-.43-.4-.66.15-.33.41v.52Z"
      />
      <path class="cls-4" d="m221.63,184.04l-.47-.18-.4-.53-.37-1.74.34-1.74.39-.54.47-.19.47.18.4.53.37,1.74-.34,1.74-.39.54-.47.19Z" />
      <path class="cls-7" d="m805.88,182.03l-.25.25h-27.82l-.25-.25v-.02l.25-.25h27.82l.25.25v.02Z" />
      <path class="cls-20" d="m788.75,190.71l1.25-.42h15.47s.28.19.28.19h0s-.01.12-.01.12l-.17.11h-16.82Z" />
      <path class="cls-14" d="m790,190.29l-1.25.42-10.76.02-.23-.1-.2-.19-.05-.11.18-.05h12.31Z" />
      <path
        class="cls-15"
        d="m219.5,198.21l-.46.29-.05-4.59v-1.97s.16-.49.16-.49l.27-.12.09.57v1.4s.19.43.19.43l.37.38.51.14h5.35l.66-.25.33-.63.11-.92.31-1.55.21,1.56v2.36l-.04.67-.3,1.83-.35-1.82-.03-.29-.17-.33-.34-.13h-5.58l-.67.26-.32.64-.25,2.56Z"
      />
      <path class="cls-12" d="m153,191.79l13.93-.03.71.29.29.71-.14,79.74-.79.21.16-79.2-.29-.71-.71-.29-13.16.03-.51-.26.51-.49Z" />
      <path class="cls-22" d="m780.75,199.21l.25-.42,9.03.14.53-.08.13-.16.25-.06,4.56-.1,6.39-.12,1.95.13,1.3.26.79.38-.87.13-24.31-.1Z" />
      <path class="cls-18" d="m781,198.79l-.25.42-2.09.33-.62-.05-.32-.21.08-.32.44-.23,2.76.06Z" />
      <path
        class="cls-4"
        d="m219.45,212.55l-3.14-5.61-.12-.47.12-.48,3.11-5.67.36-.37.5-.14,6.48-.04.49.14.36.36,3.31,5.85.13.49-.14.49-3.35,5.71-.38.36-.5.12-6.41-.24-.47-.14-.35-.36Zm1.59-2.97l.92-.24.8-.72.55-1.1.22-1.31-.14-1.33-.48-1.13-.75-.77-.91-.29-.92.24-.8.72-.55,1.1-.22,1.31.14,1.33.48,1.13.75.77.91.29Zm6.1-1.14l-.47-.6.08-.75.76-2v-.78s-.21-.63-.21-.63l-.61-.57-.99-.39-.84.04h0l-.19.08-.76.6.95.18.84.1.52.35.16.97-.34.75-.91,1.15-1.03,1.36-.15.78.32.28.68.15,2.33-.15.64-.28-.49-.48-.29-.16Z"
      />
      <path class="cls-4" d="m221.11,208.48l-.45-.19-.38-.53-.32-1.71.37-1.7.39-.52.46-.18.45.19.38.53.32,1.71-.37,1.7-.39.52-.46.18Z" />
      <path class="cls-15" d="m242.73,205.49h0l.27,1.41.05,4.52.06,4.9v.04l-.28.17-.28-.09-.03-.44-.1-10.18.3-.33Z" />
      <path class="cls-15" d="m277.89,205.53l.14,2.34-.03,6.74v1.33s-.22.32-.22.32h-.03s-.19-.07-.19-.07l-.11-.19-.17-9.96v-.06l.2-.36.41-.09Z" />
      <path class="cls-15" d="m297,206.14l.26,2.21-.09,4.35-.06,3.46-.3.27h-.05s-.26-2.1-.26-2.1v-6.06s.03-2.09.03-2.09l.09-.79.38.75Z" />
      <path class="cls-3" d="m792,206.96l.05,1.14-.31.6-.46.08-.11-.03-.31-.32.05-.44.32-.95-.19-.79.39-.02.32.24.25.49Z" />
      <path
        class="cls-7"
        d="m791.04,206.25l.19.79-.32.95-.05.44.31.32.11.03.46-.08h0l.31-.6-.05-1.14.68.57.65.23,11.59-.03.66.25.23.2.07.12-.13.04-12.1-.13-.49.13-.36.35-.75.89-.77.32h0l-.83-.29-.85-.92-.34-.31-.44-.12h-.15s-2.1-.01-2.1-.01l-.72-.2.35-.27.62-.06,1.26.12,1.14-.22h0l.97-.53.85-.84Z"
      />
      <path
        class="cls-3"
        d="m82.26,207.16l.7-.06,1.23-.1.86.13.49.03.45-.2.48-.28.4-.02.5.56.04.15-.17.66-.62.29-22.22-.11-.3-.13-.1-.31h0v-.03l.04-.28.17-.3.33-.13,6.05-.05,11.67.18Z"
      />
      <path
        class="cls-13"
        d="m95.52,214.21l-.06,1.89-.13,6.39.24,4.62.62,3.06.44.93.57.57,1.49.47,2.43.26,8.37-.09,3.05-.1.57-.19.36-.49.77-2.07.4-.66.04.79-.34,2.24-.34.59-.64.24-14.62.13-1.6-.21-1.16-.67h0l-.74-1.2-.24-1.71.02-17.68.18-1.26.53-.93h0l1.06-.66,1.52-.21,13.37.02,1.43.21.99.62h0l.51.89.17,1.22-.03,5.54-.04.58-.12-.65-.13-2.12-.28-2.86-.33-.92-.54-.77-1.37-.85-1.93-.34-5.53-.08-4.45-.03-1.71.18-1.23.63-.7.8-.47,1.01-.29,1.24-.11,1.63Z"
      />
      <path
        class="cls-13"
        d="m765.48,211.75l-.29-.71-.71-.29h-56.33s-.26-.12-.26-.12l-.25-.28.37-.1h57.07l.71.29.29.71-.03,21.5-.29.71-.71.29h-22l-.7.29-.3.69-.34,9.05-.26-9.52.29-.71.71-.3h22.06l.71-.29.29-.71-.03-20.5Z"
      />
      <path
        class="cls-15"
        d="m219.04,214.5l.71.04-.29,1.09-.08,1.08.38,1.89.36.47.57.18h5.17l.6-.2.36-.52.28-1.36.04-1.35h0l-.14-1.03.71-.04-.21,4.05-.31.67-.69.28h-6.34l-.7-.28-.3-.69-.12-4.28Z"
      />
      <path
        class="cls-13"
        d="m106.85,220.46l-.14.71-.4.6-.6.4-.71.14-.71-.14-.6-.4-.4-.6-.14-.71.14-.71.4-.6.6-.4.71-.14.71.14.6.4.4.6.14.71Zm-2.35-.99l-.11.06-.46.68.2.8.67.61.54.09.47-.38.22-.68-.08-.73-.41-.51-.44-.1-.6.16Z"
      />
      <path
        class="cls-13"
        d="m545.74,222.92l.54-.36.39-.03.27.43v.07s-.15.5-.15.5l-.48.21h-52.99l-.56-.07-.29-.22v-.5s.03-.05.03-.05l.28-.2.33.07,1.22.5.67-.05.69-.27.66-.1,3.45.43,4.48-.13.42-.18.26-.38.19-.26.48.42.37.34.48.12,26.44-.07.48-.12.36-.34.37-.3.56.43.36.32.47.12h6.54l.58-.18.9-.34,1.03.29.6.14.57-.24Z"
      />
      <path class="cls-15" d="m567.23,224.62l-.33.33h-13.72l-.33-.33v-.04l.33-.33h13.72l.33.33v.04Z" />
      <path class="cls-13" d="m405.17,229.78l-.15.35-.35.14-11.9-.06-.35-.15-.14-.35v-.04s.15-.35.15-.35l.35-.14,11.9.06.35.15.14.35v.04Z" />
      <path class="cls-13" d="m486.16,229.86l-.12.29-.29.12-13.02-.05-.29-.12-.12-.29v-.24s.12-.29.12-.29l.29-.12,13.02.05.29.12.12.29v.24Z" />
      <path class="cls-13" d="m567.34,229.87l-.13.31-.31.13-13.44-.12-.31-.13-.13-.31v-.14s.13-.31.13-.31l.31-.13,13.44.12.31.13.13.31v.14Z" />
      <path class="cls-13" d="m647.21,229.92l-.33.33-12.22-.02-.33-.33v-.38s.33-.33.33-.33l12.22.02.33.33v.38Z" />
      <path class="cls-7" d="m771,233.75l-.74-.06-.59.19-.67.83-.21.04-.1-1.21.28-.61h0l.77.04,1.26.78Z" />
      <path class="cls-15" d="m29.01,265.67l-.25.25h-.02l-.25-.25v-25.08l.25-.25h.02l.25.25v25.08Z" />
      <path class="cls-15" d="m703,300.62l-.25.25h0l-.25-.25v-59.06l.25-.25h0l.25.25v59.06Z" />
      <path class="cls-13" d="m16.29,241.72l-2.31.57,2.32-.57.41-.1-.42.1Z" />
      <path class="cls-3" d="m13.23,262.33l-.32.32h-.42s-.32-.32-.32-.32l-.06-18.24.32-.32h.42s.32.32.32.32l.06,18.24Z" />
      <path class="cls-3" d="m10.45,265.14l-.27.27h-.3s-.27-.26-.27-.26l-.22-20.6.27-.27h.3s.27.26.27.26l.22,20.6Z" />
      <path
        class="cls-15"
        d="m661.25,266.21l-.21.04-.88-1.29-.63-.32-.45.5-.29,1.4-.05,5.07.02.89-.02.98.31.6h0l.43.18.62-.03.48-.25.29-.46.08-.77h0l-.18-.69-.41-.67-.03-.04-.06-.4.25-.33.25-.14.36-.02.24.27v.1s.08,2.84.08,2.84l-.29.74-.74.29h-.05l-.65.03-.5.24h0l-.41.62-.12.97.08,12.35-.14,12.35.28.7.68.31,5.91.27-.71.71-1.43-.35-1.96-.18-2.01.14-.63.35-.23.69.32,1.55.04.18v.21s-.43,7.24-.43,7.24l.25.72.68.33,1.52.11.85.18-.8.33-1.15.1-1.22-.33-.42-.37-.16-.53.03-61.37.67,1v1.25s.36.68.36.68l.55.12.77-.2.51-.5.06-.71-.55-1.87.21-.48.38-.06.26.27.42,1.34h0v.94s-.2.97-.2.97l-.26.54-.37.31-.89-.03h-.01l-.76.03-.51.57-.17.83.16.59h0l.66.39,1.16.03h.09l.74.32.26.77-.14,1.63-.41.72-.8.16-.12-.03-.61-.12-.47.12h0l-.39.48-.17.86.26.72.69.33h0l1.34.06.4.13.28.32.12.38-.04.53-.27.57Zm-.23-6.17l-.38-.91-.91-.38-.91.38-.38.91.38.91.91.38.91-.38.38-.91Z"
      />
      <path class="cls-13" d="m22.09,252.53l.34.21v.41s-.25.46-.25.46l-.47.43-.39.08-.03-.49.34-.88.46-.22Z" />
      <path class="cls-13" d="m799.08,260.97l-.26.26-12.92-.02-.26-.26v-.22s.26-.26.26-.26l12.92.02.26.26v.22Z" />
      <path
        class="cls-13"
        d="m417.46,262.5h-.42l-.27-.36-.35-.29-.45-.1h-5.42l-.7.29-.3.69-.31,9.35-.3-9.3-.29-.69-.7-.29-5.36-.07-.69.27-.32.67-.4,3.71-.3-4,.27-.72.71-.31h0l15.19-.12.72.27v.41s-.31.59-.31.59Z"
      />
      <path
        class="cls-15"
        d="m518.9,261.79l-5.18-.04-.7.28-.3.69-.47,9.35-.31-9.32-.3-.69-.7-.29-5.61-.03-.74.32-.26.75v.09s.24,1.89.24,1.89l-.06,1.18-.4.99-.12-1.05v-3.68s.3-.71.3-.71l.71-.29h14.79l.71.32.26.74-.24,3.16-.22,1.06-.21-.95-.2-2.82-.31-.67-.68-.28Z"
      />
      <path
        class="cls-13"
        d="m304.99,261.77l-5.43-.03-.7.29-.3.69-.04,2.16-.17,1.72-.36-1.7-.07-1.31.17-1.54.35-.57.63-.23h15.04l.55.16.37.44.07.55-.31.02-.72-.31-.66-.27-5.94-.06-.67.3-.28.69-.03,9.23-.21.26h-.03s-.19-.07-.19-.07l-.05-.19-.02-9.24h0l-.29-.7-.71-.29Z"
      />
      <path
        class="cls-13"
        d="m366.46,262.5l-.42.25-.64-.58-1.17-.39-1.56-.13-2.18.07-.96.05h-.03l-.7.34-.25.74.12,4.09-.1,2.04-.38,3.65-.14-3.67v-6.24h0l-.3-.71-.71-.29-6.47.07-.68.28-.31.67-.37,3.98-.24-4.38.28-.71.7-.31,14.15-.04.69-.05.92-.03.55.22.2.41v.67Z"
      />
      <path
        class="cls-13"
        d="m469.46,263.5l-.42-.25-.09-.53-.57-.59-1.19-.39-1.66-.13-2.34.08-1.02.05-.67.25-.57.26-.62-.26-.65-.24h-6.22l-.71.31-.28.72-.11,3.3-.27.76-.09-.84.02-3.76.3-.7.7-.29h15.5l.62.21.35.55.08.48-.09,1.01Z"
      />
      <path
        class="cls-13"
        d="m572.61,265.35l-.52,1.7-.13-1.78.05-2.18-.21-.63-.56-.36-3.39-.41-1.7.09-1.68.31-.53.08-1.24-.2-1.19-.21h-2.48s-2.48,0-2.48,0l-.69.28-.3.69-.1,3.57-.1.17-.17.05-.26-.46.15-3.9.32-.65.67-.26h15.43l.6.2.36.53.27,1.55-.06,1.49-.06.33Z"
      />
      <path
        class="cls-13"
        d="m623.46,262.5h-.42l-.27-.36-.35-.29-.45-.1h-5.48l-.71.29-.29.7h0l-.21,9.71-.37-9.71-.3-.69-.7-.29-5.43-.02-.71.3-.3.71.02,3.41-.06.21-.2.16-.3-.67v-3.51s.28-.72.28-.72l.7-.32h.01l14.56-.04.72.1.38.29.05.36-.17.48Z"
      />
      <path class="cls-7" d="m366.46,262.5l.29,1.99-.12.85-.35,1.04-.16-1.08-.08-2.55.42-.25Z" />
      <path class="cls-15" d="m417.04,262.5h.42l.02,3.85-.09.3-.28-.15-.23-.25-.09-.25.25-3.5Z" />
      <path class="cls-15" d="m623.04,262.5h.42l-.25,3.96-.17-3.96Z" />
      <path class="cls-7" d="m314.56,265.8l.17-2.45.33,1.4v1.45s-.33-.07-.33-.07l-.17-.29h0v-.04Z" />
      <path class="cls-15" d="m469.04,263.25l.42.25-.25,2.95-.17-3.2Z" />
      <path class="cls-22" d="m460.8,266.98l-.06-3.09.2,1.71-.05,1.38-.06.1-.03-.1Z" />
      <path class="cls-7" d="m563.99,269.67l-.32,1.96-.2-1.97.04-3.72.24-2.01.29,2,.06,1.59-.11,2.15Z" />
      <path class="cls-13" d="m797.77,264.96l-.26.26-42.58.07-.26-.26v-.02s.26-.26.26-.26l42.58-.07.26.26v.02Z" />
      <path class="cls-15" d="m799.14,264.82l.56-.58.26.33.1.68-.07.67-.25.35-.56-.48-.15-.48.11-.49Z" />
      <path class="cls-22" d="m742,265.94h0l.14,1.09-.24,1.39-.21-2.22.29-.26h.02Z" />
      <path class="cls-13" d="m661.04,266.25l.21-.04.23.66v.6l-.29.6-.43.29-.29-.43-.05-.36.15-.65.47-.67Z" />
      <path class="cls-15" d="m12.76,266.7l.67-.23.72.21.43.45-.6.16h-1.03s-.59-.13-.59-.13l.4-.46Z" />
      <path class="cls-13" d="m26.66,267.26l-1.54-.04-.57-.18.45-.26,1.02-.2.81-.02.41.19v.12s-.24.28-.24.28l-.34.11Z" />
      <path class="cls-15" d="m9.68,290.81l-.21-11.35.04-11.37.32-.72.74-.26h.04l1.07.28-.86.39-.53.35-.22.6-.13,11.19.1,11.14-.05,1.4-.28-1.4-.03-.25Z" />
      <path
        class="cls-13"
        d="m752.88,308.31l.05-.25.4-.11.84.16.62.13h43.71l.71-.29.29-.71-.05-4.62-.17-26.26.12-6.65.24-2.5.28-.17.09.31v40.41s-.28.71-.28.71l-.71.29h-45.64l-.33-.13-.17-.32Z"
      />
      <path
        class="cls-13"
        d="m260.25,276.46l-.75.25.09-2.74-.29-.74-.73-.29h-.06l-5.08.22-4.44-.32-5.36-.18-11.06.16-.67.28-.3.67-.17,3.43h0s.27.73.27.73l.71.31,13.05.26-.21,1.04-12.03-.17-.71.29-.3.71h0s.06,18.28.06,18.28l.29.7.7.3,12.49.06.25,1-13.51.1-.7.3-.29.7v3.94l.26.68.66.32,5.7.38,5.71.16h0l6.08-.05,6.09-.28,1,.5-15.48.28-15.54-.3-.68-.3-.28-.69-.03-33.35h0l.3-.71.72-.29,23.63.28,4.64-.12,4.9-.14,3.58.11.69.35.23.74v.02l-.15,1.34-.15,1.09-.07-.28-.5-1.67-.34-.47-.48-.31-.99.03-.42.27-.23.44-.19,1.58.09,1.1Zm-32.47-2.95l-.21-.48-.49-.19-.92.02-.48.21-.19.49.08,3.76.21.48.49.19.92-.02.48-.21.19-.49-.08-3.76Zm3.26.06l-.19-.48-.48-.21-.96-.02-.48.19-.21.48-.08,3.76.19.48.48.21.96.02.48-.19.21-.48.08-3.76Zm.3,6.39l-.26-.64-.63-.27-3.82-.04-.64.26-.27.63-.21,19.64.26.64.63.27,3.82.04.64-.26.27-.63.21-19.64Zm-3.61,22.25l-.22-.52-.52-.21h-.52s-.52.22-.52.22l-.21.52.03,4,.22.52.52.21h.52s.52-.22.52-.22l.21-.52-.03-4Zm3.25.2l-.23-.6-.59-.26-.58-.02-.6.23-.26.59-.11,3.72.23.6.59.26.58.02.6-.23.26-.59.11-3.72Z"
      />
      <path class="cls-12" d="m162.5,272.79l-2,.38-2.01.17h0l-2.24-.06-2.25-.32,8.5-.17Z" />
      <path class="cls-22" d="m742.05,277.75l.06.18.08.55-.31-.07-.32-.56.12-3.31.37,3.21Z" />
      <path class="cls-4" d="m420.46,277.75l-.67-.33-.25-.73.31-.71.69-.27.67.33.25.73-.31.71-.69.27Z" />
      <path
        class="cls-15"
        d="m615.72,290.66l-.24,3.35.02,6.02-.07.46-.2.16-.28-.15-.11-.52.14-3.37v-5.88s-.29-.69-.29-.69l-.7-.29h-5.39l-.7.28-.3.69-.09,3.28-.02.21-.06.15-.25.35-.14-.65-.05-3.18.04-2.86.19-2.1.33,2.08.03.35.33.64.67.26h5.36l.7-.29.3-.7.28-9.03.38,9.03.3.69.69.29,5.27.02.61-.2.36-.53.08-1.21.13-1.88.28-.64h.07s.27.4.27.4l-.19,8.37-.16,1.16-.36-1.11-.02-1.15.35-1.4.04-.17-.22-.81-.77-.35h-5.61s-.68.27-.68.27l-.32.65Z"
      />
      <path
        class="cls-15"
        d="m298.7,290.63l-.04.36-.37,1.87-.16-1.9-.08-5.9.08-.23.24.05.16,1.8.13,1.85.36.52.61.2h5.35l.71-.29.29-.71.02-7.24.17-1.43.48,1.36.09,1.31-.27,3.45.08,2.56.3.64.65.28.52.03,4.33.07,1.34-.25.72-.42.42-.25.15.46.12,5.19v.02l-.32.24h0l-.24-.57-.07-1.66-.09-1.58-.36-.51-.59-.2h-5.85l-.71.3-.28.72v5.25s-.14,2.88-.14,2.88l.03.33-.08.88-.3.08-.1-.3v-9.14l-.29-.71-.71-.29h-5.31l-.66.25-.33.63Z"
      />
      <path
        class="cls-15"
        d="m357.07,289.93l-3.16-.24-3.21.11-.62.28-.29.62-.5,3.35-.28.48-.1-1.35.06-1.57v-6.46s.16-.29.16-.29l.3-.06.15.29v.67s-.09,1.39-.09,1.39l.06,1.19.32.65.68.26h6.45l.71-.29.29-.71v-7.75l.16-1.14.48,1.04.04.13.06,1.22-.26,3.22.08,3.36.32.66.68.27,5.2-.02.66-.26.33-.63.61-3.87-.05,4.79.06.49.26,2.07-.12,1.41-.36,1.32-.16-1.36-.05-2.47-.3-.7-.71-.28-5.35.04-.69.29-.3.69-.34,9.46-.31-9.32-.26-.65-.61-.33Z"
      />
      <path
        class="cls-15"
        d="m409.72,290.64l-.25,3v5.86s-.16.59-.16.59h-.21l-.13-.2.04-9.14h0l-.29-.71-.71-.29h-5.45l-.7.28-.3.69-.1,3.54-.17.37-.17.07-.16-.64-.02-1.9.14-5.7.17-1.3.25,1.28.07,1.77.27.73.71.31h5.37l.7-.28.3-.68.02-1.72.09-5.49.21-1.82h0l.26.26v8.73l.29.71.71.29h5.44l.7-.28.3-.69.1-3.6.1-.17.08-.02.29.67.14,1.93-.23,7.12-.35.23-.05-.03-.22-.83.06-2.07.04-.75-.29-.7-.7-.29-5.2-.03-.67.26-.32.64Z"
      />
      <path
        class="cls-15"
        d="m504.71,290.63l-.08.63-.42,2.08-.23-2.11v-3.11s.22-2.33.22-2.33l.42,2.31.03.25.33.63.66.25,5.32.03.71-.29.3-.69.14-7.93.13-.47.35.34.16,1.53-.11,3.83-.08,2.72.31.67.69.28h5.61l.71-.32.26-.73-.05-2.44.21-.98.18-.04.15.82-.07,4.76.12,2.79-.12,1.26-.29-.3-.24-1.09-.16-2.24-.3-.68-.68-.29-5.27-.06-.7.28-.31.68-.09,2.28-.29,4.21-.23-4.21-.06-2.23-.3-.69-.7-.28h-5.24l-.66.25-.33.63Z"
      />
      <path class="cls-22" d="m460.68,283.17l-.03-.4.04-.75.32.19.21.62-.56,5.01.02-4.67Z" />
      <path class="cls-15" d="m564.01,284.24v2.25s-.12,1.73-.12,1.73l-.4-1.69-.06-.53.05-1.8.39-1.71.14,1.75Z" />
      <path
        class="cls-13"
        d="m461.07,289.77l-7.39-.03-.7.29-.3.7-.22,3.02-.32,1.02-.09-1.06.06-6.1.13-1.85.29,1.83.07.73.33.64.67.26h14.06l.67-.26.32-.64.25-1.97.47-1.83.18,1.88-.08,6.46.02.38-.06,1.08-.38-.16v-.06s-.11-3.39-.11-3.39l-.31-.69-.7-.28-6.85.03h0Z"
      />
      <path
        class="cls-15"
        d="m569.5,289.71v-.42l1.46-.05.62-.24.33-.58v-.18l.1-2.76.3-.91.22.2.13.59-.07.72-.17,3.39.16,1.84.06.87-.14,1.33-.4,1.29-.12-1.34.03-2.5-.35-.77-.54-.34h0l-.75-.19-.87.05Z"
      />
      <path class="cls-15" d="m555.46,288.25h-.42l.21-3.51.21,3.51Z" />
      <path class="cls-15" d="m775.96,286.02l.72.05.36.54.02.09-.14.41-.41.15-.56-.18-.28-.27-.05-.08v-.43l.34-.28Z" />
      <path class="cls-13" d="m555.04,288.25h.42l.13.71.66.21,13.25.12v.42l-12.97-.02-.69.28-.31.68-.5,3.89-.03-.6.04-5.69Z" />
      <path class="cls-18" d="m460.96,295.75l-.42.25-.31-1.16-.07-1.14.07-.64.44-1.58.21,1.63.08,2.64Z" />
      <path class="cls-22" d="m563.96,295.5l-.42-.25.22-3.76.2,4.01Z" />
      <path class="cls-7" d="m9.96,297.75h-.17l-.37-2.3.06-.77.29-1.36.13,1.38.06,3.05Z" />
      <path class="cls-18" d="m563.54,295.25l.42.25-.17,3.2-.25-3.45Z" />
      <path class="cls-22" d="m460.96,295.75l-.02,2.19-.4-1.94.42-.25Z" />
      <path
        class="cls-15"
        d="m733.25,307.46h-.25l.16-7.78.13-1.65.28,1.64.08.69.32.63.67.26h5.75l.51-.14.37-.39.19-1.5.1-1.23.2-.35.21.25.15,8.05-.13.64-.47-.47-.08-1.79-.05-1.77-.35-.58-.64-.23-5.82.03-.68.27-.31.66-.34,4.76Z"
      />
      <path class="cls-15" d="m9.79,297.75h.17l.09,5.82.29.68,6.95,7-.29.54-7.06-6.7-.3-.58-.2-3.3.35-3.46Z" />
      <path class="cls-13" d="m261,301.29l-.52.94-.36,1.92.36,2.22-1.23.09.25-4.92,1.5-.25Z" />
      <path class="cls-21" d="m750.94,311.18l-.25.59-.6.24-3.76-.05-.59-.25-.24-.6.11-9.06.25-.59.6-.24,3.76.05.59.25.24.6-.11,9.06Z" />
      <path class="cls-13" d="m688.21,302.56l-1.83.28-4.41.12-4.41-.11-1.83-.27,1.83-.28,4.41-.12,4.41.11,1.83.27Z" />
      <path class="cls-15" d="m256.92,303.37l.12.34.04.84-.18.5-.32-.42-.12-.34-.04-.84.18-.5.32.42Z" />
      <path class="cls-15" d="m705,305.79v.17l-.67.23-.95.12-1-.1-.22-.12.11-.23.22-.22.16-.07,2.35.22Z" />
      <path
        class="cls-15"
        d="m685.54,314.5l-7.04.21,1.21-.43,1.35-.19.68-.31.27-.7-.04-6.01-.36-.77-.83-.21-.19.06-1.18.19-.45-.1-.61-.31.68-.1,4.21.06,1.11.14-1.05.37-.27.06-.28.19-.11.32.05,6.11.23.62.56.35,2.06.45Z"
      />
      <path
        class="cls-13"
        d="m417.62,317.73l-.28.72-.71.3h-14.68l-.71-.3-.29-.71h0s.3-4.94.3-4.94l.41,4.53.32.68.7.27,5.28-.1.69-.3.29-.69.28-10.21.39,10.29.3.69.7.29h5.24l.63-.22.35-.55.23-2.55-.05-.54.02-1.28.23.24.24,1.35.12,3.03Z"
      />
      <path
        class="cls-15"
        d="m299.78,318.22h5.23l.7-.29.3-.7.05-8.53.12-1.31.3,1.27.11,1.64-.13,1.94.23,5.12.33.66.68.26,5.75-.1.67-.28.31-.66.38-3.7.23,4.18-.29.72-.71.3h-15.06s-.01.01-.01.01l-.71-.3-.28-.72.12-4.64.13-.21.14-.03.25.32.13.74.04,2.91v.45s.3.67.3.67l.69.28Z"
      />
      <path
        class="cls-13"
        d="m623.62,317.72l-.28.72-.71.3h-14.67s-.71-.28-.71-.28l-.29-.71h0s.27-4.77.27-4.77l.44,4.35.32.67.69.27,5.33-.07.7-.3.29-.7v-9.59l.09-.28.26.13.19,4.45.14,5.41.31.66.69.27h5.16l.62-.21.35-.55.26-1.8-.06-1.32v-1.25s.24.25.24.25l.24,1.34.13,3.01Z"
      />
      <path
        class="cls-15"
        d="m358.59,317.27l.3.69.7.29h5.35l.7-.28.3-.69.1-4.1.11-.28.29-.14.23.44.06.97-.37,3.83-.36.53-.6.21h-15.33s-.65-.22-.65-.22l-.34-.6-.17-1.7.09-1.75.33-1.71.19,1.73.11,2.8.3.68.7.28h6.36l.7-.29.3-.7.13-9.12.1-.38.29.27.23,1.82-.08,4.44-.07,2.98Z"
      />
      <path
        class="cls-15"
        d="m505.6,318.25h5.39l.7-.29.3-.69.14-8.88.11-.48.29.39.3,2.38-.13,5.03-.07,1.52h0s.29.72.29.72l.71.3h5.31l.7-.28.3-.69.1-3.97v-.12s.09-.18.09-.18l.24-.22.26.62.16,1.62-.05,1.61-.2,1.31-.35.57-.63.23h-14.54l-.69-.28-.31-.68v-4.3s.26-.66.26-.66l.31.22.13.4-.12,3.77v.02l.29.71.71.3Z"
      />
      <path class="cls-22" d="m460.69,310.94l.18-1.07.37,1.07-.59,5.89.04-5.89Z" />
      <path class="cls-15" d="m563.71,317.31l-.19-.97-.05-2.35.11-2.35.21-.97.19.97.05,2.35-.11,2.35-.21.97Z" />
      <path
        class="cls-13"
        d="m17.29,311.25l19.69,18.73.69.28h153.69s2.06.25,2.06.25l.66.32.44.49.17.98-.45,1.39-.37.41-.53.15h-46.83l-.71.29-.3.71v39h0l.3.71.71.29,41.99-.34,4.31.31h4.3l6.18-.56-.07-3.19-.3-.69-.7-.29-14.06.04h-.11s-.56.36-.56.36l-.1.66.22.73.1.24.12.16.36.72-.67.15-.65-.33-.26-.68-.03-1.15-.03-6.74.24-1.73.41-.6.17.03.34.35.08.49-.18,1.08.2.78.71.38h.07l13.69.12.75-.33.25-.79-.02-.12-.09-.77.13-.69.2-.38.56-.52.19.74v11.55l.25.66.61.33.78-.14h0l.34-.5.09-.85-.22-13.49.29-.71.71-.29h23.13l.71-.29.29-.7h0v-1.06s.03-8.19.03-8.19l.22-2.05.34-.7h0l.3.11.13.29h0v1.82l.29.7.7.3,13.69-.05.91-.16.42-.35h0l-.04-.42-.37-.56-.02-.02-.23-.75.38-.68.27-.22.38-.13.15.37.23,9.85-.2,1.1-.43.46-.42-.51-.26-1.31.29-.71.28-.44-.34-.66-.69-.27-13.98-.06-.71.29-.3.71v2.56h0l.3.71.71.29,14.43-.08.53.15,1.03.51,1.05.24h.99s1.01-.24,1.01-.24l.48-.35.2-.56.36-11.08.17-.59.43.42.17.55-.08.73-.02.12.24.78.75.34h3.48l.7-.34.24-.75.04-.77.27-.6h0l.78-.54,1.23-.19h8.43s8.42.18,8.42.18l.62.24.33.57.29,1.44.35.57.63.23h2.95l.71-.33.26-.74.05-.78.08-.34.63-1.37.17,1.49-.2,10.79.28.72.71.3h21.7s2.24-.47,2.24-.47l1.79-.37,7.06.13,7.04-.11.69-.3.28-.7v-5.92l-.29-.71-.71-.29h-13.84l-.72.31-.27.74h0v.05l.08.83.3.62.63.28,4.08.06,7.38.12,2.39.2h0l-.33.29-14.07-.06-.54.51h0l-.13.78.33,1.02.16.71-.14.44-.49.16h-.01l-.36-.16-.13-.37-.02-1.4.02-6.93.06-2.34h.75s.41.01.41.01l.07,3.08,14.39.05.71-.29.29-.71v-1.58s.22-.48.22-.48l.36-.15.2.29.06.67.26,11.04.31.67.69.28h27.89s.7-.3.7-.3l.3-.7v-.62s.01-8.29.01-8.29l.23-2.19.38-.76.16.06.22.48v1.6s.3.71.3.71l.71.29,13.69-.04.68-.28.31-.66.13-1.94.32-.31h.32l.33.33-.09,11.61.29.71.71.3h25.04l.7-.29.3-.7v-10.9l.17-.84.29-.33.35.23.1.27.17,1.91.32.65.67.26,13.19-.02.63-.22.35-.56v-.65s.07-1.29.07-1.29l.3-.49.24-.02.3.18.12.32v11.49l.29.71.71.29h24l.71-.29.29-.71v-11.48l.19-.83.57.62.21.49v1.24s.17.81.17.81l.71.41h.11s13.3-.02,13.3-.02h.1l.7-.41.18-.79v-1.21s.24-.58.24-.58l.58-.63.19.83v11.51l.28.7.69.3,2.55.06.72-.28.3-.71h0v-.02l-.15-11.08v-.07s.2-.29.2-.29l.35-.03.22.13.22.51-.08.85.16.8.7.41h.11s2.93.01,2.93.01l.63-.22.35-.57.37-1.74.35-.58.64-.21,18.23.27.69.3.29.7v1.05h0l.29.71.71.29h3.22l.69-.27.31-.68.07-1.69.32-.32h.26l.21.22-.37,11.45.28.73.71.31h20.28s.71-.3.71-.3l.29-.7h0v-11.14s.14-.77.14-.77l.28-.31.5.59.04.1.05.31v1.48s.3.71.3.71l.71.29h12.56s.59-.2.59-.2l.36-.51.69-2.16.04-.1.43-.33.53.12.3.44-.37.33-.44.36-.17.55-.12,10.14.28.71.7.3h.01l25.31.13.49-.13.37-.34.17-.28.03-.04.41.03.64.48.6-.26.67-.26,13.93.02.71-.3.29-.71-.02-10.85.1-.27.26-.14h.04l.38.76.23,2.19v8.51s-.03.55-.03.55l.28.72.71.3h0l25.01-.03.7-.29.3-.7v-11.16s.11-.72.11-.72l.25-.26.45.25.21.74v1.44l.31.68.69.28h12.98l.63-.22.35-.56.02-.54.1-1.35.35-.54.3.02.27.38v11.56l.29.71.71.29h25l.71-.29.29-.71h0v-11.11l.06-.6.17-.25h0l.29.1.4.45.23.61-.05.84-.02.1.26.77.74.34h13.59l.57.12.22.26-.18.39-.64.2-13.63-.02-.71.28-.3.7h0s-.01,1.03-.01,1.03l.29.71.71.29h13.51s.51.17.51.17h0s-.02.18-.02.18l-.24.21-13.75-.07-.71.29-.29.71v2.55l.29.71.71.29h14.01l.71-.29.29-.71-.02-10.85.1-.27.26-.14h.06l.35.53.23,1.61.04,6.44-.03,2.32.15,1.17.43.67.99.32,1.74-.19.29-.05.78.2.39.71v.08l-.02,4.21.27.69.68.31,2.26.1h.02l.72-.28.3-.72v-24.94l.18-.56.46-.37.64-.04.08.32-.17.71-.17.72.09,24.05.3.69.7.29,50.14.09.71-.29.29-.71v-7.99s.27-.69.27-.69l.68-.31,4.09-.18.67-.31.28-.69v-22.39s.09-3.63.09-3.63l.23-2.34.15-.54.04.5v28.94l-.28.7-.69.3-4.03.12-.69.3-.28.7.02,8.2-.36.77-.83.21-.18-.05-1.05-.25-.76.19h0l-.5.68-.16,1.18.22.63.56.35.77.07.68-.14.16-.07.13-.05.83.1.46.7.19,1.17-.67-.25-.66-.61-.88-.32-1.22-.05-1-.04-.61-.26-.29-.39-.37-.42-.53-.16h-13.52l-.66.25-.69.45-1,.36-1.11.18-.51-.12,1.04-.54.62-.59.16-.78-.15-.62-.68-.6-1.09-.21-26.58-.04h0l-2.1.3-1.67.29-1.34-.05-1.17-.36-.56-.07-.51.24-.42.53-.15.55.14.65.42.52.62.34.72.08.97-.42.71-.9.48-.45.66-.05.99.39.38.48h0l-.4.72-.33.75v25.17l.14.5.21.48-.03.31h0l-.63.12-.49-.27-.2-.52v-24.9l-.32-.71-.73-.26-2.23.1-.67.31-.28.69-.04,51.39h0s.3.71.3.71l.71.29,12.01-.15.69.07.35.25h0l-.04.52-15.27-.2-.78-.17.66-.46.29-.13.44-.37.16-.54v-60.76s-.26-.69-.26-.69l-.68-.31-1.28.08-.61.37-.17.58.13.94.15,1.14-.05,24.12.11,35.26-.29.71-.71.3h-41.23l-.56-.17.27-.53.41-.42.28-.7-.04-60.55-.28-.69-.66-.31-.26-.02-.74.26-.33.71h0v.03l.05,21.34-.1,30.24v1.3s.22,8.46.22,8.46v.03l-.28.72-.72.3h-85.47s-.59-.09-.59-.09l-.31-.23h0l-.03-.38.26-.54.19-.29.16-.55-.09-60.33-.29-.71-.71-.29h-.49l-.71.29-.29.71.05,61.41-.29.71-.71.29h-53.94l-.56-.17.27-.53.4-.41.29-.7-.04-34.53-.31-.72-.71-.51-.54-.05-.49.52-.2,1.17v34.93s-.31.71-.31.71l-.7.29h-58.85l-.7-.22.34-.65.2-.2.29-.71v-19.93s-.04-39.85-.04-39.85l-.16-1.16-.46-.61h-.93s-.5.36-.5.36l-.19.58-.08,51.32.24,10.01-.26.74-.71.32h-213.29l-.56-.17.27-.53.4-.41.28-.7-.02-60.53-.26-.67-.64-.33-.28-.03h-.05l-.73.27-.31.73.05,61.33v.1l-.4.7-.79.18-.39-.2.3-.39.3-.35.12-.44.37-24.78-.18-17.3-.3-.69-.7-.29h-33.07l-.64-.23-.34-.59-.26-1.36-.34-.59-.64-.23h-23.15l-.66.25-.33.62-.16,1.26-.33.62-.66.25h-15.05l-.71.29-.29.7h0l-.16,41.85.29.71.71.29h0l15.7-.05,1.27.12,1.34.11.47.24-.08.2-28.49-.08-.62-.22-.35-.56-.02-.68.45.38.68.39,2.69.14,2.46-.19h.21l.28.06,1.13.14.6-.19.42-.37.15-.54-.09-17.74.27-.89.17-1.25-.15-1.85-.18-2.53.31-2,.05-.31-.02-.19-.29-2.4.07-3.01.08-2.57-.14-2.03-.17-2.27.1-2.52v-.04l-.28-.73-.72-.31h-6.66s-.21.03-.21.03l-.68.54v.86s.19.78.19.78l-.1.82-.48,1.01-.16-1.11v-23.35l.11-.37.34.19.06.09.04.16-.08,7.67.17,11.11.3.69.7.28h23.89s.71-.3.71-.3l.29-.71-.04-42.49.29-.71.71-.29h46.76l.44-.1.35-.28.43-.79v-.67l-.27-.49-.49-.36-1.38-.29-24.11.14-23.99-.13-.71.29-.3.71h0l.05,23.96-.29.71-.71.3h-21.75l-.46.11-.36.31-.45.32-.45-.32-.36-.31-.46-.11h-42.5l-.71-.29-.29-.71.06-24-.28-.7-.71-.3h-35.94l-.7-.28-19.41-18.68.29-.54Zm124.83,20.55l-.3-.74-.74-.3h-65.34l-.74.3-.3.74v23.4l.3.74.74.3h65.34l.74-.3.3-.74v-23.4Zm122.27,21.13l2.83-.17,8.6-.05h2.06s.69-.31.69-.31l.29-.7.03-3.66-.35-.76-.79-.24h0l-.14.03-1.39.21-1.16-.11-4.06-.47h-5.9s-3.53.04-3.53.04l-.53.15-.37.42-.42,1.49-.09,1.7.28,1.26.58.66,1.04.1.55.24.15.25.02.08-.78.16h-7.47l-.71.29-.29.71-.03,28.4.29.71.71.29,29.43.05.7-.29.3-.7.13-4.54.3-10.45v-7.2s-.24-4.73-.24-4.73l-.23-1.43-.31-.86-.16-.49.1-.5.27-1.14-.03-.29-.33-.61-.66-.25h-2.96l-.69.28-.31.67-.02.5v.09l.35.72.77.23h1.24s.26.02.26.02l1.64.4-1.68.13h-17.8s-.05-.02-.05-.02l-.13-.31Zm235.11,5.96l-.09-7.65-.3-.7-.7-.29h-3.14l-.69.27-.31.67.07.82.31.54h0l.84.29,1.29-.21h.84s.54.37.54.37l-.23.18-.7.08-17.61-.02-.14-.05-.19-.17-.11-.18.32-.08,12.76-.02h0l.71-.3.28-.7v-3.64l-.28-.7-.69-.3-16.52-.47-.72.28-.31.7v3.86s.02.1.02.1l.4.7.8.17h.72l.51.21.42.46-.6.15h-6.57s-.98-.11-.98-.11l.94-.31,2.3-.11h.09s.74-.31.74-.31l.27-.76-.04-.53-.32-.66-.7-.26-3.05.05-.7.29-.29.7-.24,33,.29.71.71.3,29.05-.04.71-.29.29-.71v-21.21s.49-.69.49-.69l.84-.08.9.09,1.02-.58.29-.71-.29-.7-.61-.46-.63-.18h0l-.65.11-.85-.06-.49-.69-.02-.17Zm-251.91-7.72l-.2-.49-.49-.2h-13.96l-.49.2-.2.49v1.58l.2.49.49.2h13.96l.49-.2.2-.49v-1.58Zm12.09,0l-.28-.66-.67-.27h-3.82s-.66.29-.66.29l-.27.67v.62s.28.66.28.66l.67.27h3.82s.66-.29.66-.29l.27-.67v-.62Zm99.86,3.1l-.33,3.12.23.76.71.35h13.77l.71-.29.29-.71v-2.49s-.3-.71-.3-.71l-.71-.29h-13.21s-.39-.1-.39-.1l-.25-.24v-.07s.69-.11.69-.11l13.22-.06h.02l.71-.31.27-.73-.04-.93-.31-.68-.69-.28h-13.69l-.72.31-.28.74v.06s.3,2.44.3,2.44v.11s0,.11,0,.11Zm164.82-.71l11.73-.04,1.35-.29.46-.35.28-.46v-.7s-.41-.81-.41-.81l-.35-.29-.45-.11-12.6-.02-.7.28-.3.69-.13,6.02.27.71.71.31h12.83l.71-.33.25-.73-.15-2.6-.32-.68-.71-.26-9.21.15-3.45-.23-.08-.17.27-.09Zm101.89-.06v.3h.01l-.22.22-12.79-.05h0l-.71.29-.29.71v2.53l.29.71.71.29h12.85l.71-.29.29-.7h0l.02-4.03v-.07l.12-1.84-.25-.74-.7-.33h-13.04l-.71.29-.29.7h0v.97s.29.71.29.71l.71.3h0l12.75-.03.25.06Zm-208.1.2l-2.09.27-6.64.07-4.44.02-.69.3-.29.7v2.44l.29.71.71.29h13.25l.71-.29.29-.71-.03-6-.29-.71-.7-.29h-13.3l-.62.21-.35.55-.09.85.22.65h0l.7.52,1.19.2,5.98.04,5.94-.19.21.09.06.22-.02.06Zm43.02.29h-12.87s-.7.27-.7.27l-.3.69-.06,2.52.28.72.71.31h13.04l.7-.29.3-.69.07-3.71.12-.87.06-1.04-.08-.6-.35-.57-.63-.23h-13.21l-.71.29-.29.7h0v.88s.27.7.27.7l.67.31,2.74.02,7.9.1,2.6.28h0s-.26.21-.26.21Zm-211.07,7.73l-.12-.75-.32-.6-1.03-.69-1.63-.21-36.36.32-.7.3-.3.7-.16,51.45.29.71.71.3h56.02l.71-.29.29-.71v-26.92l-.29-.7-.7-.3-12.52-.11-.7-.3-.29-.7v-19.3l-.23-.63-.57-.35-1.3-.27-.56-.34-.24-.61Zm80.02,54.87l.02,4.97v.02l.31.71.73.27.88-.04.68-.31.27-.69-.09-60.76-.22-.62-.56-.35-.5-.07-1.54.3-.67.04-1.94-.47-1.49-.14-36.38.34-.7.3-.29.7v.96h0l-.3.71-.71.29-1.12-.02-.72.29-.29.72.07,19.49-.29.71-.71.29-12.09.07-.7.3-.29.71.08,26.94.3.71.7.29h55.94l.71-.29.29-.71v-50.6l.18-.41.28.09.13.25v52.39s-.18.56-.18.56l-.52-.27-.24-.23-.69-.28h-55.97l-.71.29-.29.71.02,7,.3.7.7.29,56.04-.03.73-.32.27-.74v-.07s-.07-.51-.07-.51h0l-.08-2.24.2-2.28.38-1.71.14,1.75Zm46.85-55.97l-.3-.71-.71-.29-41.48.07-.71.3-.29.71.09,51.58.3.71.71.29,41.48-.07.71-.3.29-.71-.09-51.58Zm4.04.88v50.75l.29.71.71.29h39.13l.71-.29.29-.71h0l-.15-51.76h0l-.3-.71-.7-.28-38.91.3-.74.34-.13.1-.51.06-.85-.32-.96-.35-.66.06-.3.28-.23.54-.13,1.66.24,18.01-.03,24.66-.05,15.92.16,1.2.49.66h0l.65.13.89-.26.43-.37.16-.54v-60.08l.06-.19.19-.06h.03s.22.25.22.25Zm84.21.24l-.29-1.3-.27-.37-.78-.24-1.71-.18-6.36-.2-24.81.27-4.51.08-.7.3-.29.71.03,51.44.29.71.71.29h56.52l.71-.29.29-.71.08-25.49-.29-.71-.71-.3h-14.12s-.71-.3-.71-.3l-.29-.71v-20.87l-.25-.67-.64-.33-1-.1-.65-.34-.25-.69Zm38.7-1.93h-.02l-.42.21-.14.44.14,1.6v.02s-.14.43-.14.43l-.41.2-2.37.14-.39.18-.16.41v21.72l-.17.42-.42.17h-11.39l-.42.18-.17.41.14,26.32.17.42.42.17h52.25l.42-.17.17-.42v-52.62l-.17-.42-.42-.17h0l-36.49.36Zm81.04.61l-.24-.58-.58-.24-38.62.07-.58.24-.24.58.09,51.96.24.58.58.24,38.62-.07.58-.24.24-.58-.09-51.96Zm4.05,1.08v50.75l.29.71.71.29h39.17l.71-.29.29-.71-.17-51.77h0l-.3-.71-.71-.29-42.41.39-.7.3-.29.71.12,58.51-.06.88-.03,1.6.39.81.71.16,1.19-.36.43-.37.16-.54v-59.82l.1-.28.1-.07.24-.08.06.18Zm85.03-.83l-.31-.75-.75-.31-38.44.07-.75.31-.31.75.09,51.48.31.75.75.31,38.44-.07.75-.31.31-.75-.09-51.48Zm-421.04.36l-.38-.91-.91-.38-.91.38-.38.91.38.91.91.38.91-.38.38-.91Zm33.66,1.27l.89-.21.48-.86-.04-.55-.33-.45-.85-.5h-.6l-.37.52-.1,1.08.27.66.65.31Zm181.37-1.49l-.27-.73-.71-.32-.44-.02-.73.27-.32.71-.02.58.27.73.71.32.44.02.73-.27.32-.71.02-.58Zm262.9,5.25l-.26-.26-15.38.05-.26.26v.92s.26.26.26.26l15.38-.05.26-.26v-.92Zm-527.68.97l-.15-.37-.37-.15h-14.84l-.37.15-.15.37v1.94l.15.37.37.15h14.84l.37-.15.15-.37v-1.94Zm2.71,9.42l-.2-.49-.49-.2h-32.98l-.49.2-.2.49v.98l.2.49.49.2h32.98l.49-.2.2-.49v-.98Zm62.19,40.04v5.09s.28.69.28.69l.67.31.83.04h.03l.72-.28.3-.72-.02-36.14-.17-.55-.44-.37-1.05-.29-.73.17h0l-.4.64-.06,1.11.22,4.48.06,6.14-.38,17.29-.15.43-.4-.21-.29-.28-.7-.29h-55.92l-.7.29-.3.7-.06,7h0l.3.72.71.29,56.07-.04h.06l.7-.36.23-.76-.11-3.43.18-1.71.38-1.72.14,1.76Zm316.83-2.07l-.2-.47-.47-.2h-38.96l-.47.2-.2.47v7.62l.2.47.47.2h38.96l.47-.2.2-.47v-7.62Zm-207.97.28l-.28-.67-.67-.28h-41.6l-.67.28-.28.67v7.06l.28.67.67.28h41.6l.67-.28.28-.67v-7.06Zm45.11.17l-.33-.78-.78-.33h-38.96l-.78.33-.33.78v6.74l.33.78.78.33h38.96l.78-.33.33-.78v-6.74Zm62.09-.03l-.32-.77-.77-.32h-56.52l-.77.32-.32.77v6.8l.32.77.77.32h56.52l.77-.32.32-.77v-6.8Zm56.8-.11l-.29-.69-.69-.29h-51.54l-.69.29-.29.69v7.02l.29.69.69.29h51.54l.69-.29.29-.69v-7.02Zm89.09.05l-.31-.76-.76-.31-39.02.07-.76.31-.31.76v6.82s.33.76.33.76l.76.31,39.02-.07.76-.31.31-.76v-6.82Zm44.13.09l-.33-.79-.79-.33h-38.48l-.79.33-.33.79v6.74l.33.79.79.33h38.48l.79-.33.33-.79v-6.74Z"
      />
      <path
        class="cls-13"
        d="m469.67,313.81l-.17,4.06-.33.62-.66.25h-15.47s-.7-.27-.7-.27l-.3-.68.15-4.29.2-.68.35.75.04.2-.02.29-.21,2,.12,1.29.32.59.62.25,3.04.06,2.36-.18,1.01-.16.27-.04,1.42.19,1.27.2,4.96-.02.7-.28.3-.69.11-3.86.17-.47.23-.15.22,1.02Z"
      />
      <path
        class="cls-13"
        d="m555.7,317.32l.32.67.69.27,6.37-.03h.01l7.84.03.7-.28.31-.68.1-2.91.22-1.61.44,1.57.1,1.24-.4,2.44-.36.5-.59.19-15.5.04h-.01l-.71-.31-.28-.72.3-4.94.45,4.53Z"
      />
      <path
        class="cls-6"
        d="m750.5,313.04l-.3,2.71.16,2.98v.78l-.24.61-.73.58-.39.32-.19.47-.32,2.45-.2.49-.44.31-.55.27-.17.25h0l.3.29.89.26-.53.21h0l-.48-.1-.27-.41-.78-4.32v-.73s-.33-1.14-.33-1.14l-.67-1.11.29-.46.68-.28.44-.43h0l.22-1,.17-.63.52-.39.56-.32-1.13-.22-.58-.21-.21-.71.2-.44.45-.18,3.64.1Z"
      />
      <path
        class="cls-14"
        d="m748.32,325.81l1.28.67.5.77h0l-.25.83-.94.93-.29.35-.11.45v26.26s-.1.57-.1.57l-.32.37-.5-.07-.34-.57v-26.58l-.33-.74-.64-.99-.34-1.61v-2.12s.27-2.83.27-2.83l.04-.31.78,4.32.27.41.48.1h0l.53-.21Zm-.5,2.72l1.35-.63.42-.51-.49-.36-1.33-.26h-.12l-.6.31-.15.65.07.33.29.42.51.07.05-.02Z"
      />
      <path class="cls-13" d="m734.52,329.68l5.7.33-5.98.3-.61-.19-.37-.52-.35-2.33.15-1.53.22-.63h0l.18.9.09,2.68.29.69.68.3Z" />
      <path
        class="cls-15"
        d="m566.05,357.49v-.13s-.04-.44-.04-.44l-.15-4.28.14-3.29.43-2.1.31-.57.4-.26h.26l.42.23-.31.36-.29.18-.33.36-.13.48v.75s-.01,6.81-.01,6.81l-.16,1.71-.25.56h-.04s-.25-.37-.25-.37Z"
      />
      <path class="cls-13" d="m582.61,350.19l-.33.33h-14.14l-.33-.33v-.38l.33-.33h14.14l.33.33v.38Z" />
      <path class="cls-13" d="m569.68,353.54l12.07-.14.51.22h0s-.02.2-.02.2l-.24.13-13.49.16h-.09s-.35-.25-.35-.25l-.04-.43.31-.38.68.26.66.23Z" />
      <path class="cls-11" d="m311.88,353.94l.13,1.15-.27.9-.2.26-.33-1.02.13-.78h0l.54-.51Z" />
      <path
        class="cls-13"
        d="m282.55,380.5l-.21.51-.51.21-24.86.04-.51-.21-.21-.51-.03-18.54.21-.51.51-.21,24.86-.04.51.21.21.51.03,18.54Zm-.79-18.18l-.31-.31h-24.16l-.31.31v17.86l.31.31h24.16l.31-.31v-17.86Z"
      />
      <path class="cls-21" d="m281.76,380.18l-.31.31h-24.16l-.31-.31v-17.86l.31-.31h24.16l.31.31v17.86Z" />
      <path
        class="cls-13"
        d="m497.04,382l-.5-1.5.14-16.24-.29-.71-.71-.3h-22.92l-.7.29-.3.71-.04,16.21.29.71.71.29,23.24.04.29.71-24.25.03-.71-.29-.29-.71v-17.74l.29-.71.71-.29h24.21l.71.3.29.71-.17,18.49Z"
      />
      <path class="cls-21" d="m496.54,380.5l-.58,1-23.24-.04-.71-.29-.29-.71.04-16.21.3-.71.7-.29h22.92l.71.3.29.71-.14,16.24Z" />
      <path class="cls-18" d="m735.54,370.25l.67.25v8.5l-.67,1v-9.75Z" />
      <path class="cls-18" d="m203.29,374.66l-6.18.56h-4.3l-4.31-.31,14.79-.25Z" />
      <path
        class="cls-15"
        d="m736.21,379l-.2,5.21.28.73.71.31h67.51l.71.29.29.71-.02,36.01-.29.7-.71.29h-12.65l-.49-.16.16-.49.3-.41.19-.59v-34.85l-.29-.71-.71-.29h-54.49l-.71-.3-.29-.71.03-4.74.67-1Zm68.78,7.57l-.23-.57-.57-.23h-10.7l-.57.23-.23.57v35.3l.23.57.57.23h10.7l.57-.23.23-.57v-35.3Z"
      />
      <path class="cls-7" d="m124.57,383.21l.2-2.43.04,1.28-.17,1.17-.06.1v-.12Z" />
      <path class="cls-12" d="m496.54,380.5l.5,1.5-.79.21-.29-.71.58-1Z" />
      <path class="cls-22" d="m118.96,388.32l-.1.42-.22-.09-.14-.32.23-4.53.23,4.52Z" />
      <path class="cls-22" d="m121.87,384.59l.04.41.17,2.45-.21.88-.11-.03-.16-.25-.3-3.31.14-.21.25-.09h.02s.16.15.16.15Z" />
      <path
        class="cls-13"
        d="m124.94,389.06l-.28-.26-.2-.4.1-.43.36-.72.09-.71h0l-.24-.83-.1-.63.63-.12.39.05.64.37.22.71-.32,3.83-.15.44-.33.33-.72.57-.22.53.28.51.78.48.4.33.18.48-.03,1.02-.3.86-.79.89-.29.34-.11.44-.02,1.93-.13,1.88-.29-1.86-.05-1.9.48-2.77-.07-.74-.4-1.07-.07-1.04h0l.21-.85.45-.83.11-.43-.21-.4Z"
      />
      <path class="cls-22" d="m118.83,393.5l.03-.34.06-.27v.28l-.17,3.18.08-2.85Z" />
      <path class="cls-22" d="m122.06,395.06l-.29,1.14-.2-1.91.09-.46.31.36.09.87Z" />
      <path class="cls-22" d="m118.71,404.78l-.18-.81-.05-1.96.12-1.96.21-.81.18.81.05,1.96-.12,1.96-.21.81Z" />
      <path class="cls-7" d="m121.49,401.11l.24-.17.3.34.14.78-.44,3.15-.29-3.94.05-.16Z" />
      <path class="cls-7" d="m125.03,405.13l-.02.15-.07,1.66-.07,1.53-.08.28-.1-.28-.25-2.24.08-1.98.27-1.25.25,1.25.02.4-.03.48Z" />
      <path class="cls-22" d="m119.01,408.3v2.36s-.12,1.82-.12,1.82l-.4-1.78-.09-1.01.08-1.42.39-1.8.14,1.83Z" />
      <path class="cls-15" d="m122.03,410.35l-.38.28-.21-.31-.06-.61.08-.59.2-.29.48.81-.11.71Z" />
      <path class="cls-7" d="m124.61,414.86l-.06-2.84.07-1.51.35,1.48.13,1.37-.08,1.52-.28,1.49-.13-1.51Z" />
      <path class="cls-15" d="m121.82,414.76h.04s.18.36.18.36l.1,1.16-.17,2.01-.44-2.94.29-.59Z" />
      <path class="cls-22" d="m119.05,416.11l.03.92-.15.79-.38.9-.03-.97.11-1.62.18-.98.24.96Z" />
      <path class="cls-7" d="m124.83,420.52l-.1.68-.21-1.2.34-2.17-.03,2.69Z" />
      <path
        class="cls-3"
        d="m196.75,422.54l-1.28.12-1.33.1-.46.24.11.25-16.18.29h0l-14.81-.03-14.8-.3.08-.2-.47-.24-1.34-.11-1.27-.12,17.7-.29h17.02s17.03.29,17.03.29Z"
      />
      <path class="cls-22" d="m196.75,422.54l7.45.22.31.22v.02s-.07.19-.07.19l-.13.05h-10.52s-.11-.24-.11-.24l.46-.24,1.33-.1,1.28-.12Z" />
      <path class="cls-18" d="m691,422.54h88.75l-4.68.28-.18.04.15.09.71.26-1.77.15-1.24.14-24.22.03-56.52-.15.04-.52h0l-.35-.25-.69-.07Z" />
      <path class="cls-15" d="m779.75,422.54l2.37.05,6.14.16,2.11.25v.04s-.17.19-.17.19l-14.45-.02-.71-.26-.15-.09.18-.04,4.68-.28Z" />
      <path class="cls-14" d="m186.85,42.73l-.06-5.37-.16-19.98.12-5.12.26-2.02.28-.2.1.34v31.86l.08.5.31,1.5-.78-.99-.15-.52Z" />
      <rect class="cls-21" x="133.79" y="43.91" width="91.45" height="3.95" />
    </g>
    <g id="_안내" data-name="안내">
      <g>
        <rect class="cls-16" x="84.01" y="86.72" width="46.11" height="19.11" rx="3" ry="3" />
        <text class="cls-9" transform="translate(94.79 100.17)"><tspan x="0" y="0">입구</tspan></text>
      </g>
      <g>
        <rect class="cls-16" x="115.05" y="229.05" width="46.11" height="19.11" rx="3" ry="3" />
        <text class="cls-9" transform="translate(119.84 242.5)"><tspan x="0" y="0">카운터</tspan></text>
      </g>
      <g>
        <rect class="cls-16" x="245.84" y="276.6" width="34.41" height="24.17" rx="3" ry="3" />
        <text class="cls-8" transform="translate(253.4 287.14)">
          <tspan x="0" y="0">도서</tspan>
          <tspan x="-4.82" y="9.65">검색기</tspan>
        </text>
      </g>
      <g>
        <polygon
          class="cls-1"
          points="263.04 301.82 265.06 305.9 269.57 306.56 266.31 309.74 267.08 314.23 263.04 312.11 259.01 314.23 259.78 309.74 256.52 306.56 261.03 305.9 263.04 301.82"
        />
        <text class="cls-2" transform="translate(243.54 326.71)"><tspan x="0" y="0">현위치</tspan></text>
      </g>
      <g>
        <rect class="cls-16" x="706.49" y="390.34" width="46.11" height="19.11" rx="3" ry="3" />
        <text class="cls-9" transform="translate(711.28 403.79)"><tspan x="0" y="0">흡연실</tspan></text>
      </g>
      <g>
        <rect class="cls-16" x="684.58" y="169.56" width="46.11" height="19.11" rx="3" ry="3" />
        <text class="cls-9" transform="translate(689.37 183.01)"><tspan x="0" y="0">화장실</tspan></text>
      </g>
    </g>
    <g id="_번호" data-name="번호">
      <g>
        <polygon class="cls-5" points="422.59 267.7 414.03 267.7 409.75 275.11 414.03 282.53 422.59 282.53 426.87 275.11 422.59 267.7" />
        <text class="cls-10" transform="translate(413.68 277.85)"><tspan x="0" y="0">18</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="405.16 267.7 396.6 267.7 392.32 275.11 396.6 282.53 405.16 282.53 409.44 275.11 405.16 267.7" />
        <text class="cls-10" transform="translate(396.24 277.85)"><tspan x="0" y="0">15</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="422.33 295.92 413.77 295.92 409.48 303.33 413.77 310.74 422.33 310.74 426.61 303.33 422.33 295.92" />
        <text class="cls-10" transform="translate(413.41 306.07)"><tspan x="0" y="0">17</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="404.89 295.92 396.33 295.92 392.05 303.33 396.33 310.74 404.89 310.74 409.18 303.33 404.89 295.92" />
        <text class="cls-10" transform="translate(395.98 306.07)"><tspan x="0" y="0">16</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="474.07 268.15 465.51 268.15 461.23 275.56 465.51 282.98 474.07 282.98 478.35 275.56 474.07 268.15" />
        <text class="cls-10" transform="translate(465.15 278.3)"><tspan x="0" y="0">22</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="456.64 268.15 448.08 268.15 443.8 275.56 448.08 282.98 456.64 282.98 460.92 275.56 456.64 268.15" />
        <text class="cls-10" transform="translate(447.72 278.3)"><tspan x="0" y="0">19</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="473.8 296.36 465.24 296.36 460.96 303.78 465.24 311.19 473.8 311.19 478.08 303.78 473.8 296.36" />
        <text class="cls-10" transform="translate(464.89 306.51)"><tspan x="0" y="0">21</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="456.37 296.36 447.81 296.36 443.53 303.78 447.81 311.19 456.37 311.19 460.65 303.78 456.37 296.36" />
        <text class="cls-10" transform="translate(447.45 306.51)"><tspan x="0" y="0">20</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="525.26 268.12 516.69 268.12 512.41 275.54 516.69 282.95 525.26 282.95 529.54 275.54 525.26 268.12" />
        <text class="cls-10" transform="translate(516.34 278.27)"><tspan x="0" y="0">26</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="507.82 268.12 499.26 268.12 494.98 275.54 499.26 282.95 507.82 282.95 512.1 275.54 507.82 268.12" />
        <text class="cls-10" transform="translate(498.91 278.27)"><tspan x="0" y="0">23</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="524.99 296.34 516.43 296.34 512.15 303.75 516.43 311.17 524.99 311.17 529.27 303.75 524.99 296.34" />
        <text class="cls-10" transform="translate(516.07 306.49)"><tspan x="0" y="0">25</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="507.56 296.34 498.99 296.34 494.71 303.75 498.99 311.17 507.56 311.17 511.84 303.75 507.56 296.34" />
        <text class="cls-10" transform="translate(498.64 306.49)"><tspan x="0" y="0">24</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="576.56 268.12 568 268.12 563.72 275.54 568 282.95 576.56 282.95 580.84 275.54 576.56 268.12" />
        <text class="cls-10" transform="translate(567.64 278.27)"><tspan x="0" y="0">30</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="559.13 268.12 550.57 268.12 546.29 275.54 550.57 282.95 559.13 282.95 563.41 275.54 559.13 268.12" />
        <text class="cls-10" transform="translate(550.21 278.27)"><tspan x="0" y="0">27</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="576.29 296.34 567.73 296.34 563.45 303.75 567.73 311.17 576.29 311.17 580.57 303.75 576.29 296.34" />
        <text class="cls-10" transform="translate(567.38 306.49)"><tspan x="0" y="0">29</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="558.86 296.34 550.3 296.34 546.02 303.75 550.3 311.17 558.86 311.17 563.14 303.75 558.86 296.34" />
        <text class="cls-10" transform="translate(549.94 306.49)"><tspan x="0" y="0">28</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="628.2 268.12 619.63 268.12 615.35 275.54 619.63 282.95 628.2 282.95 632.48 275.54 628.2 268.12" />
        <text class="cls-10" transform="translate(619.28 278.27)"><tspan x="0" y="0">34</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="610.76 268.12 602.2 268.12 597.92 275.54 602.2 282.95 610.76 282.95 615.04 275.54 610.76 268.12" />
        <text class="cls-10" transform="translate(601.85 278.27)"><tspan x="0" y="0">31</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="627.93 296.34 619.37 296.34 615.09 303.75 619.37 311.17 627.93 311.17 632.21 303.75 627.93 296.34" />
        <text class="cls-10" transform="translate(619.01 306.49)"><tspan x="0" y="0">33</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="610.5 296.34 601.93 296.34 597.65 303.75 601.93 311.17 610.5 311.17 614.78 303.75 610.5 296.34" />
        <text class="cls-10" transform="translate(601.58 306.49)"><tspan x="0" y="0">32</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="370.97 268.15 362.41 268.15 358.13 275.57 362.41 282.98 370.97 282.98 375.25 275.57 370.97 268.15" />
        <text class="cls-10" transform="translate(362.05 278.3)"><tspan x="0" y="0">14</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="353.54 268.15 344.98 268.15 340.69 275.57 344.98 282.98 353.54 282.98 357.82 275.57 353.54 268.15" />
        <text class="cls-10" transform="translate(344.62 278.3)"><tspan x="0" y="0">11</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="370.7 296.37 362.14 296.37 357.86 303.78 362.14 311.2 370.7 311.2 374.98 303.78 370.7 296.37" />
        <text class="cls-10" transform="translate(361.79 306.52)"><tspan x="0" y="0">13</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="353.27 296.37 344.71 296.37 340.43 303.78 344.71 311.2 353.27 311.2 357.55 303.78 353.27 296.37" />
        <text class="cls-10" transform="translate(344.35 306.52)"><tspan x="0" y="0">12</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="319.26 268.15 310.69 268.15 306.41 275.57 310.69 282.98 319.26 282.98 323.54 275.57 319.26 268.15" />
        <text class="cls-10" transform="translate(310.34 278.3)"><tspan x="0" y="0">10</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="301.82 268.15 293.26 268.15 288.98 275.57 293.26 282.98 301.82 282.98 306.1 275.57 301.82 268.15" />
        <text class="cls-10" transform="translate(292.91 278.3)"><tspan x="0" y="0">07</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="318.99 296.37 310.43 296.37 306.15 303.78 310.43 311.2 318.99 311.2 323.27 303.78 318.99 296.37" />
        <text class="cls-10" transform="translate(310.07 306.52)"><tspan x="0" y="0">09</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="301.56 296.37 292.99 296.37 288.71 303.78 292.99 311.2 301.56 311.2 305.84 303.78 301.56 296.37" />
        <text class="cls-10" transform="translate(292.64 306.52)"><tspan x="0" y="0">08</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="698.09 302.7 689.53 302.7 685.25 310.12 689.53 317.53 698.09 317.53 702.37 310.12 698.09 302.7" />
        <text class="cls-10" transform="translate(689.17 312.85)"><tspan x="0" y="0">36</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="674.87 302.7 666.31 302.7 662.03 310.12 666.31 317.53 674.87 317.53 679.16 310.12 674.87 302.7" />
        <text class="cls-10" transform="translate(665.96 312.85)"><tspan x="0" y="0">35</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="741.55 307.87 732.99 307.87 728.71 315.29 732.99 322.7 741.55 322.7 745.83 315.29 741.55 307.87" />
        <text class="cls-10" transform="translate(732.63 318.02)"><tspan x="0" y="0">37</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="742.08 280.24 733.52 280.24 729.24 287.65 733.52 295.06 742.08 295.06 746.36 287.65 742.08 280.24" />
        <text class="cls-10" transform="translate(733.16 290.39)"><tspan x="0" y="0">38</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="288.39 92.9 279.83 92.9 275.55 100.31 279.83 107.72 288.39 107.72 292.67 100.31 288.39 92.9" />
        <text class="cls-10" transform="translate(279.47 103.05)"><tspan x="0" y="0">03</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="309.15 92.9 300.59 92.9 296.31 100.31 300.59 107.72 309.15 107.72 313.43 100.31 309.15 92.9" />
        <text class="cls-10" transform="translate(300.23 103.05)"><tspan x="0" y="0">04</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="323.82 110.97 315.25 110.97 310.97 118.39 315.25 125.8 323.82 125.8 328.1 118.39 323.82 110.97" />
        <text class="cls-10" transform="translate(314.9 121.12)"><tspan x="0" y="0">05</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="323.82 138.48 315.25 138.48 310.97 145.89 315.25 153.31 323.82 153.31 328.1 145.89 323.82 138.48" />
        <text class="cls-10" transform="translate(314.9 148.63)"><tspan x="0" y="0">06</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="227.93 174.12 219.36 174.12 215.08 181.53 219.36 188.95 227.93 188.95 232.21 181.53 227.93 174.12" />
        <text class="cls-10" transform="translate(219.01 184.27)"><tspan x="0" y="0">01</tspan></text>
      </g>
      <g>
        <polygon class="cls-5" points="227.93 199.31 219.36 199.31 215.08 206.73 219.36 214.14 227.93 214.14 232.21 206.73 227.93 199.31" />
        <text class="cls-10" transform="translate(219.01 209.47)"><tspan x="0" y="0">02</tspan></text>
      </g>
    </g>
  </svg>
  <script src="./script/map.js"></script>
  <script>
    drawCircle(<%= num %>);
  </script>
</body>
</html>

